<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cloudy</title>
    <meta name="description" content="">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="fonts/cloudicon/cloudicon.css" rel="stylesheet">
    <link href="fonts/opensans/opensans.css" rel="stylesheet">
    <link href="img/favicon.ico" rel="shortcut icon">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <div id="spinner-area">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
        <div class="spinner-txt">Cloudy...</div>
      </div>
    </div>
    <p id="nav-toggle">
    </p>
    <!-- 
    *******************
    FULL COUNTDOWN PAGE
    ******************* 
    -->
    <div class="fullrock item5 overlay-full">
      <a onclick="window.history.go(-1); return false;" class="closebtn">
        <img src="fonts/svg/close.svg" class="closer" alt="">
      </a>
      <div class="fullrock-content">
        <section class="pb-100">
          <div class="register contact-us">
            <div class="container">
              <img src="img/logo-light.svg" alt="logo" class="logo-footer">
              <div class="row sec-bx bg-opacity-grey">
                <div class="col-md-12 col-lg-4">
                  <div class="form-contact">
                    <i class="icon-clock"></i>
                    <h3 class="subtitle">Contact us or subscribe our newsletter</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    <div class="info">
                      <a href="tel:+000111222333">+80 234 111 2233</a><br>
                      <a href="mailto:support@cloudy.com">support@cloudy.com</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-lg-8 sec-bg1">
                  <div class="form-contact">
                    <h1 class="subtitle mb-1">We are Cooming Soon!</h1>
                    <p>We're currently working on creating something awesome.</p>
                    <div class="">
                      <div class="countdown">
                        <div class="wrapper">
                          <div class="clock" id="clock"></div>
                        </div>
                      </div>
                    </div>
                    <form id="contactForm" class="comments-form">
                      <textarea id="message" rows="3" name="comment" class="input comment" placeholder="Leave a message" required></textarea>
                      <div class="text-xs-center">
                        <input id="form-submit" type="submit" class="btn btn-default-purple" value="Submit">
                      </div>
                      <div id="msgSubmit" class="h4 hidden"></div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.countdown.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>