<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cloudy</title>
    <meta name="description" content="">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="fonts/cloudicon/cloudicon.css" rel="stylesheet">
    <link href="fonts/fontawesome/css/all.css" rel="stylesheet">
    <link href="fonts/opensans/opensans.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/idangerous.swiper.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="img/favicon.ico" rel="shortcut icon">
    <link href="css/filter.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="css/slick.css" rel="stylesheet">
  </head>
  <body>
    <div id="spinner-area">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
        <div class="spinner-txt">Cloudy...</div>
      </div>
    </div>
    <!-- 
    *******************
        NAV MENU    
    *******************
    -->
    <div class="menu-wrap navigation-menu classic top">
      <div class="main-header top">
        <div class="container">
          <div class="header-info">
            <div class="row">
              <div class="col-9 col-sm-10">
                <div class="float-left pt-2">
                  <a href="login.html"> <div class="btn btn-default-green question">CLIENT AREA</div></a>
                <div class="dropdown">
                  <a class="dropdown-toggle" id="dropdownMenuCoin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    USD ($)&nbsp; <span class="caret"></span>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuCoin">
                    <a class="dropdown-item" href="">EUR (€)</a>
                    <a class="dropdown-item" href="">CNY (¥)</a>
                  </div>
                </div>
                  <span>Phone :</span> <a class="phone" href="tel:+0000000000">+ (123) 1300-656-1046</a>
                  <a href="cart.html" class="cart"> <i class="icon-cart"></i> 0</a>
                </div>
              </div>
              <div class="col-3 col-sm-2 float-right">
                <a class="float-right" href="index.html"><img src="img/logo-light.svg" alt="logo" class="logo-menu p-0"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <nav class="nav-menu">
              <button class="menu-toggle">
              <span class="icon"></span>
              <span class="icon"></span>
              <span class="icon"></span>
              </button>
              <ul class="main-menu">
                <li class="menu-item menu-item-has-children">
                  <a class="pl-0" href="#">Home</a>
                  <ul class="sub-menu">
                    <li class="menu-item"><a href="index.html">Home Page v01</a></li>
                    <li class="menu-item"><a href="homepage-2.html">Home Page v02</a></li>
                    <li class="menu-item"><a href="homepage-3.html">Home Page v03</a></li>
                    <li class="menu-item"><a href="homepage-4.html">Home Page v04</a></li>
                  </ul>
                </li>
                <li class="menu-item menu-item-has-children">
                  <a class="active m-0 pr-1" href="#">Services</a> <div class="badge bg-green mr-4">PRO</div>
                  <div class="sub-menu menu-large">
                    <ul class="container">
                      <li class="service-list">
                        <div class="row">
                          <div class="col-4 service">
                            <div class="media-left">
                              <i class="icon-cloudfiber"></i>
                            </div>
                            <div class="media-body">
                              <a class="menu-item" href="hosting.html">Cloud Hosting</a>
                              <p>Lorem ipsum dolor sit amet</p>
                            </div>
                          </div>
                          <div class="col-4 service">
                            <div class="media-left">
                              <i class="icon-reseller"></i>
                            </div>
                            <div class="media-body">
                              <a class="menu-item" href="reseller.html">Cloud Reseller</a>
                              <p>Adipiscing integer act lacinia</p>
                            </div>
                          </div>
                          <div class="col-4 service">
                            <div class="media-left">
                              <i class="icon-dedicated"></i>
                            </div>
                            <div class="media-body">
                              <a class="menu-item" href="dedicated.html">Dedicated Servers</a>
                              <p>Dolor sit amet conse adipiscing</p>
                            </div>
                          </div>
                          <div class="col-4 service">
                            <div class="media-left">
                              <i class="icon-vps"></i>
                            </div>
                            <div class="media-body">
                              <a class="menu-item" href="vps.html">Cloud VPS</a>
                              <p>Dolor sit amet conse adipiscing</p>
                            </div>
                          </div>
                          <div class="col-4 service">
                            <div class="media-left">
                              <i class="icon-wordpress"></i>
                            </div>
                            <div class="media-body">
                              <a class="menu-item" href="wordpress.html">WordPress</a>
                              <p>Adipiscing integer act lacinia</p>
                            </div>
                          </div>
                          <div class="col-4 service">
                            <div class="media-left">
                              <i class="icon-domains"></i>
                            </div>
                            <div class="media-body">
                              <a class="menu-item active" href="domains.html">Domain Names</a>
                              <p>Dolor sit amet conse adipiscing.</p>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="start-offer">
                        <div class="inner">
                          <i class="icon-coupon"></i>
                          <div class="title">Wildcard SSL</div>
                          <p>Protect your all Subdomains</p>
                          <div class="val">before <sup>$</sup>39.99<span class="period">/yr</span></div>
                          <div class="dis">now <sup>$</sup>30.49<span class="period">/yr</span></div>
                          <a href="ssl.html" class="btn btn-block btn-default-green-fill">Buy Now</a>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item menu-item-has-children">
                  <a href="#">Pages</a>
                  <ul class="sub-menu">
                    <li class="menu-item"><a href="countdown.html">Coming Soon</a></li>
                    <li class="menu-item"><a href="about.html"> About Us</a></li>
                    <li class="menu-item"><a href="team.html">Our Team</a></li>
                    <li class="menu-item"><a href="404.html">404 Error</a></li>
                    <li class="menu-item"><a href="signup.html">Register</a></li>
                    <li class="menu-item"><a href="login.html">Client Area</a></li>
                  </ul>
                </li>
                <li class="menu-item menu-item-has-children">
                  <a href="#">E-Shop</a>
                  <ul class="sub-menu">
                    <li class="menu-item"><a href="shop.html">e-Shop Products</a></li>
                    <li class="menu-item"><a href="shop-2.html">e-Shop Sidebar</a> <div class="menu badge feat bg-green">NEW</div></li>
                    <li class="menu-item"><a href="shop-3.html">e-Shop Product Details</a></li>
                    <li class="menu-item"><a href="checkout.html">Checkout</a></li>
                    <li class="menu-item"><a href="cart.html">Cart</a></li>
                  </ul>
                </li>
                <li class="menu-item menu-item-has-children">
                  <a href="#">Blog</a>
                  <ul class="sub-menu">
                    <li class="menu-item"><a href="blog-1.html">Blog One Column</a></li>
                    <li class="menu-item"><a href="blog-2.html">Blog Two Columns</a></li>
                    <li class="menu-item"><a href="blog-details.html">Blog Details</a></li>
                  </ul>
                </li>
                <li class="menu-item menu-item-has-children">
                  <a href="#">Features</a>
                  <ul class="sub-menu">
                    <li class="menu-item"><a href="elements.html">Elements</a></li>
                    <li class="menu-item"><a href="pricing-tables.html">Pricing Tables</a></li>
                  </ul>
                </li>
                <li class="menu-item menu-item-has-children menu-last">
                  <a href="#">Support</a>
                  <ul class="sub-menu">
                    <li class="menu-item"><a href="knowlegebase.html">Knowlege Base</a></li>
                    <li class="menu-item"><a href="contact.html">Contact Us</a></li>
                    <li class="menu-item"><a href="help.html">Help</a></li>
                    <li class="menu-item"><a href="faq.html">Faq</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- 
    *******************
    NAV MENU MOBILE  
    *******************
    -->
    <div class="menu-wrap mobile">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <a href="index.html"><img src="img/logo.svg" alt="logo" class="logo-menu"></a>
          </div>
          <div class="col-6">
            <nav class="nav-menu">
              <button id="nav-toggle" class="menu-toggle">
              <span class="icon"></span>
              <span class="icon"></span>
              <span class="icon"></span>
              </button>
              <ul class="main-menu">
                <li class="mb-3">
                  <a href="tel:+0000000000"><small class="c-grey">Phone: + (123) 1300-656-1046</small></a> <br>
                  <a class="mb-3" href="mailto:cloudy@mail.com"><small class="c-grey">Email: cloudy@mail.com</small></a>
                </li>
                <li class="menu-item menu-item-has-children pl-0">
                  <a>Home</a>
                  <ul class="sub-menu">
                    <li class="menu-item"><a href="index.html">Home Page v01</a></li>
                    <li class="menu-item"><a href="homepage-2.html">Home Page v02</a></li>
                    <li class="menu-item"><a href="homepage-3.html">Home Page v03</a></li>
                    <li class="menu-item"><a href="homepage-4.html">Home Page v04</a></li>
                  </ul>
                </li>
                <li class="menu-item menu-item-has-children">
                  <a  class="active">Services <div class="badge bg-green">PRO</div></a> 
                  <ul class="sub-menu">
                    <li class="menu-item"><a href="hosting.html">Cloud Hosting</a></li>
                    <li class="menu-item"><a href="reseller.html">Cloud Reseller</a></li>
                    <li class="menu-item"><a href="dedicated.html">Dedicated Server</a></li>
                    <li class="menu-item"><a href="vps.html">Cloud VPS</a></li>
                    <li class="menu-item"><a href="wordpress.html">WordPress</a></li>
                    <li class="menu-item"><a href="domains.html" class="active">Domain Names</a></li>
                    <li class="menu-item"><a href="ssl.html">Certificates SSL</a></li>
                  </ul>
                </li>
                <li class="menu-item menu-item-has-children">
                  <a>Pages</a>
                  <ul class="sub-menu">
                    <li class="menu-item"><a href="countdown.html">Coming Soon</a></li>
                    <li class="menu-item"><a href="about.html"> About Us</a></li>
                    <li class="menu-item"><a href="team.html">Our Team</a></li>
                    <li class="menu-item"><a href="404.html">404 Error</a></li>
                    <li class="menu-item"><a href="signup.html">Register</a></li>
                    <li class="menu-item"><a href="login.html">Client Area</a></li>
                  </ul>
                </li>
                <li class="menu-item menu-item-has-children">
                  <a>E-Shop</a>
                  <ul class="sub-menu">
                    <li class="menu-item"><a href="shop.html">e-Shop Products</a></li>
                    <li class="menu-item"><a href="shop-2.html">e-Shop Side Bar <div class="menu badge bg-green">NEW</div></a> </li>
                    <li class="menu-item"><a href="shop-3.html">e-Shop Product Details</a></li>
                    <li class="menu-item"><a href="cart.html">Cart</a></li>
                    <li class="menu-item"><a href="checkout.html">Checkout</a></li>
                  </ul>
                </li>
                <li class="menu-item menu-item-has-children">
                  <a>Blog</a>
                  <ul class="sub-menu">
                    <li class="menu-item"><a href="blog-1.html">Blog One Column</a></li>
                    <li class="menu-item"><a href="blog-2.html">Blog Two Columns</a></li>
                    <li class="menu-item"><a href="blog-details.html">Blog Details</a></li>
                  </ul>
                </li>
                <li class="menu-item menu-item-has-children">
                  <a>Features</a>
                  <ul class="sub-menu">
                    <li class="menu-item"><a href="elements.html">Elements</a></li>
                    <li class="menu-item"><a href="pricing-tables.html">Pricing Tables</a></li>
                  </ul>
                </li>
                <li class="menu-item menu-item-has-children menu-last">
                  <a>Support</a>
                  <ul class="sub-menu">
                    <li class="menu-item"><a href="knowlegebase.html">Knowlege Base</a></li>
                    <li class="menu-item"><a href="contact.html">Contact Us</a></li>
                    <li class="menu-item"><a href="help.html">Help</a></li>
                    <li class="menu-item"><a href="faq.html">Faq</a></li>
                  </ul>
                </li>
                <li>
                  <a href="login.html"><div class="btn btn-default-green-fill mt-3">CLIENT AREA</div></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- 
    *******************
    BANNER
    ******************* 
    -->
    <div class="top-header overlay item6">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="wrapper">
              <div class="heading">Perfect Domain Name</div>
              <div class="subheading">Choose from hundreds of extensions and put your website in the world.</div>
              <div class="col-md-6 offset-md-3">
                <form action="http://inebur.com/whmcs/domainchecker.php?systpl=cloudy" method="post">
                  <div class="subheading general-input">
                    <input type="text" name="domain" placeholder="Start your search here" class="fill-input">
                    <input type="submit" value="Search" class="btn btn-default">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 
    *******************
    FILTER   
    ******************* 
    -->
    <main class="cd-main-content">
      <div class="cd-tab-filter-wrapper">
        <div class="cd-tab-filter">
          <ul class="cd-filters">
            <li class="placeholder"> 
              <a data-type="all" href="#0"> All Servers</a>
            </li> 
            <li class="filter"><a class="selected" href="#0" data-type="all">All Domains</a></li>
            <li class="filter" data-filter=".ccTLD"><a href="#0" data-type="ccTLD">Countries ccTLD</a></li>
            <li class="filter" data-filter=".gTLD"><a href="#0" data-type="gTLD">Generic gTLD</a></li>
            <li class="filter" data-filter=".ngTLD"><a href="#0" data-type="ngTLD">New ngTLD</a></li>
          </ul>
        </div>
      </div>
      <section class="cd-gallery">
        <div class="container">
          <ul class="p-0">
            <li class="mix gTLD com promotion data3">
              <div class="refine">
                <div class="wrapper bg-white">
                  <div class="plans badge feat bg-green">Promo</div> 
                  <h3 class="title os-light">.com</h3>
                  <p class="fromer">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                  <div class="price"><sup>$</sup>0.99 <span class="period">/yr</span></div>
                  <p>before <span class="ltgh"><sup>$</sup>12.00 <span class="period">/yr</span></span></p>
                  <a href="" class="btn btn-default-green-fill">Register</a>
                </div>
              </div>
            </li>
            <li class="mix ngTLD tech premium euro technology">
              <div class="refine">
                <div class="wrapper bg-white">
                  <div class="plans badge feat bg-grey">Technology</div> 
                  <h3 class="title os-light">.tech</h3>
                  <p class="fromer">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                  <div class="price"><sup>$</sup>8.99 <span class="period">/yr</span></div><br>
                  <p></p>
                  <a href="" class="btn btn-default-green-fill">Register</a>
                </div>
              </div>
            </li>
            <li class="mix gTLD org silver cny professional">
              <div class="refine">
                <div class="wrapper bg-white">
                  <h3 class="title os-light">.org</h3>
                  <p class="fromer">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                  <div class="price"><sup>$</sup>10.00 <span class="period">/yr</span></div><br>
                  <p></p>
                  <a href="" class="btn btn-default-green-fill">Register</a>
                </div>
              </div>
            </li>
            <li class="mix ccTLD silver usd industry">
              <div class="refine">
                <div class="wrapper bg-white">
                  <h3 class="title os-light">.bz</h3>
                  <p class="fromer">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                  <div class="price"><sup>$</sup>44.00 <span class="period">/yr</span></div><br>
                  <p></p>
                  <a href="" class="btn btn-default-green-fill">Register</a>
                </div>
              </div>
            </li>
            <li class="mix ngTLD premium usd professional">
              <div class="refine">
                <div class="wrapper bg-white">
                  <h3 class="title os-light">.work</h3>
                  <p class="fromer">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                  <div class="price"><sup>$</sup>25.20 <span class="period">/yr</span></div><br>
                  <p></p>
                  <a href="" class="btn btn-default-green-fill">Register</a>
                </div>
              </div>
            </li>
            <li class="mix ngtld bank silver usd industry">
              <div class="refine">
                <div class="wrapper bg-white">
                  <div class="plans badge feat bg-grey">Financial</div> 
                  <h3 class="title os-light">.bank</h3>
                  <p class="fromer">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                  <div class="price"><sup>$</sup>25.20 <span class="period">/yr</span></div><br>
                  <p></p>
                  <a href="" class="btn btn-default-green-fill">Register</a>
                </div>
              </div>
            </li>
            <li class="mix ccTLD promotion usd educacion">
              <div class="refine">
                <div class="wrapper bg-white">
                  <div class="plans badge feat bg-green">Promo</div> 
                  <h3 class="title os-light">.eu</h3>
                  <p class="fromer">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                  <div class="price"><sup>$</sup>3.00 <span class="period">/yr</span></div>
                  <p>before <span class="ltgh"><sup>$</sup>9.00 <span class="period">/yr</span></span></p>
                  <a href="" class="btn btn-default-green-fill">Register</a>
                </div>
              </div>
            </li>
            <li class="mix ccTLD promotion euro educacion">
              <div class="refine">
                <div class="wrapper bg-white">
                  <div class="plans badge feat bg-green">Promo 50%</div> 
                  <h3 class="title os-light">.pt</h3>
                  <p class="fromer">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                  <div class="price"><sup>$</sup>9.00 <span class="period">/yr</span></div>
                  <p>before <span class="ltgh"><sup>$</sup>18.00 <span class="period">/yr</span></span></p>
                  <a href="" class="btn btn-default-green-fill">Register</a>
                </div>
              </div>
            </li>
            <li class="mix ngTLD premium euro industry">
              <div class="refine">
                <div class="wrapper bg-white">
                  <div class="plans badge feat bg-green">HOT</div> 
                  <h3 class="title os-light">.sexy</h3>
                  <p class="fromer">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                  <div class="price"><sup>$</sup>122.00 <span class="period">/yr</span></div><br>
                  <p></p>
                  <a href="" class="btn btn-default-green-fill">Register</a>
                </div>
              </div>
            </li>
            <li class="mix ngTLD silver cny technology">
              <div class="refine">
                <div class="wrapper bg-white">
                  <h3 class="title os-light">.domains</h3>
                  <p class="fromer">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                  <div class="price"><sup>$</sup>22.99 <span class="period">/yr</span></div><br>
                  <p></p>
                  <a href="" class="btn btn-default-green-fill">Register</a>
                </div>
              </div>
            </li>
            <li class="mix ccTLD promotion euro educacion">
              <div class="refine">
                <div class="wrapper bg-white">
                  <div class="plans badge feat bg-green">Promo</div> 
                  <h3 class="title os-light">.us</h3>
                  <p class="fromer">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                  <div class="price"><sup>$</sup>3.00 <span class="period">/yr</span></div>
                  <p>before <span class="ltgh"><sup>$</sup>12.00 <span class="period">/yr</span></span></p>
                  <a href="" class="btn btn-default-green-fill">Register</a>
                </div>
              </div>
            </li>
            <li class="mix gTLD silver cny technology">
              <div class="refine">
                <div class="wrapper bg-white">
                  <h3 class="title os-light">.tel</h3>
                  <p class="fromer">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                  <div class="price"><sup>$</sup>33.49 <span class="period">/yr</span></div><br>
                  <p></p>
                  <a href="" class="btn btn-default-green-fill">Register</a>
                </div>
              </div>
            </li>
            <li class="mix ngTLD premium cny educacion">
              <div class="refine">
                <div class="wrapper bg-white">
                  <h3 class="title os-light">.guru</h3>
                  <p class="fromer">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                  <div class="price"><sup>$</sup>21.00 <span class="period">/yr</span></div><br>
                  <p></p>
                  <a href="" class="btn btn-default-green-fill">Register</a>
                </div>
              </div>
            </li>
            <li class="mix ccTLD silver usd educacion">
              <div class="refine">
                <div class="wrapper bg-white">
                  <h3 class="title os-light">.co</h3>
                  <p class="fromer">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                  <div class="price"><sup>$</sup>11.00 <span class="period">/yr</span></div><br>
                  <p></p>
                  <a href="" class="btn btn-default-green-fill">Register</a>
                </div>
              </div>
            </li>
            <li class="mix gTLD silver cny technology">
              <div class="refine">
                <div class="wrapper bg-white">
                  <h3 class="title os-light">.net</h3>
                  <p class="fromer">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                  <div class="price"><sup>$</sup>14.00 <span class="period">/yr</span></div><br>
                  <p></p>
                  <a href="" class="btn btn-default-green-fill">Register</a>
                </div>
              </div>
            </li>
            <li class="gap"></li>
            <li class="gap"></li>
            <li class="gap"></li>
          </ul>
          <div class="cd-fail-message">No results found</div>
        </div>
      </section>
      <div class="cd-filter">
        <form>
          <div class="cd-filter-block">
            <h4>Search Domains</h4>
            <div class="cd-filter-content">
              <input type="search" placeholder="Search...">
            </div>
          </div>
          <div class="cd-filter-block hider">
            <h4>Choose Category</h4>
            <ul class="cd-filter-content cd-filters list">
              <li>
                <input class="filter selected" data-type="all" type="radio" name="radioButton" id="radio4">
                <label class="radio-label" for="radio4">All Domains</label>
              </li>
              <li>
                <input class="filter" data-filter=".ccTLD" data-type="ccTLD" type="radio" name="radioButton" id="radio5">
                <label class="radio-label" for="radio5">Countries ccTLD</label>
              </li>
              <li>
                <input class="filter" data-filter=".gTLD" data-type="gTLD" type="radio" name="radioButton" id="radio6">
                <label class="radio-label" for="radio6">Generic gTLD</label>
              </li>
              <li>
                <input class="filter" data-filter=".ngTLD" data-type="ngTLD" type="radio" name="radioButton" id="radio7">
                <label class="radio-label" for="radio7">New ngTLD</label>
              </li>
            </ul>
          </div>
          <div class="cd-filter-block">
            <h4>Extensions</h4>
            <ul class="cd-filter-content cd-filters list">
              <li>
                <input class="filter" data-filter=".com" type="checkbox" id="checkbox1">
                  <label class="checkbox-label" for="checkbox1">.com</label>
              </li>
              <li>
                <input class="filter" data-filter=".tech" type="checkbox" id="checkbox2">
                <label class="checkbox-label" for="checkbox2">.tech</label>
              </li>
              <li>
                <input class="filter" data-filter=".org" type="checkbox" id="checkbox3">
                <label class="checkbox-label" for="checkbox3">.org</label>
              </li>
              <li>
                <input class="filter" data-filter=".bank" type="checkbox" id="checkbox4">
                <label class="checkbox-label" for="checkbox4">.bank</label>
              </li>
            </ul>
          </div>
          <div class="cd-filter-block">
            <h4>Level Price</h4>
            <ul class="cd-filter-content cd-filters list">
              <li>
                <input class="filter" data-filter=".promotion" type="checkbox" id="checkbox5">
                  <label class="checkbox-label" for="checkbox5">Promotion</label>
              </li>
              <li>
                <input class="filter" data-filter=".premium" type="checkbox" id="checkbox6">
                <label class="checkbox-label" for="checkbox6">Premium</label>
              </li>
              <li>
                <input class="filter" data-filter=".silver" type="checkbox" id="checkbox7">
                <label class="checkbox-label" for="checkbox7">Silver</label>
              </li>
            </ul>
          </div>
          <div class="cd-filter-block">
            <h4>Currency</h4>
            <ul class="cd-filter-content cd-filters list">
              <li>
                <input class="filter" data-filter=".usd" type="radio" name="radioButton" id="radio1">
                <label class="radio-label" for="radio1">USD</label>
              </li>
              <li>
                <input class="filter" data-filter=".euro" type="radio" name="radioButton" id="radio2">
                <label class="radio-label" for="radio2">EURO</label>
              </li>
              <li>
                <input class="filter" data-filter=".cny" type="radio" name="radioButton" id="radio3">
                <label class="radio-label" for="radio3">CNY</label>
              </li>
            </ul>
          </div>
          <div class="cd-filter-block">
            <h4>Category</h4>
            <div class="cd-filter-content">
              <div class="cd-select cd-filters">
                <select class="filter" name="selectThis" id="selectThis">
                  <option value="">Select Category</option>
                  <option value=".technology">Technology</option>
                  <option value=".professional">Professional</option>
                  <option value=".industry">Industry</option>
                  <option value=".educacion">Educación</option>
                </select>
              </div>
            </div>
          </div>
        </form>
        <a href="#0" class="cd-close">Close</a>
      </div>
      <a href="#0" class="cd-filter-trigger"> Filters</a>
    </main>
    <!-- 
    *******************
    SERVICES  
    ******************* 
    -->
    <section class="services classic sec-normal overlay item6">
      <div class="container">
        <div class="service-wrap">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h2 class="section-heading text-white">Resell more than just Domains</h2>
              <p class="section-subheading text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="service-section">
                <img src="fonts/svg/email.svg" height="60" alt="">
                <div class="title">Business Email Solutions</div>
                <p class="subtitle">
                  Excepteur sint occaecat cupidatat non proident dolor 
                </p>
                <a href="" class="btn btn-default-green">Read more</a>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="service-section">
                <img src="fonts/svg/security.svg" height="60" alt="">
                <div class="title">SSL Certificates</div>
                <p class="subtitle">
                  Duis aute irure dolor in reprehenderit in voluptate velit  
                </p>
                <a href="" class="btn btn-default-green">Read more</a>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="service-section">
                <div class="plans badge feat bg-green">Safe panel</div> 
                <img src="fonts/svg/privacy.svg" height="60" alt="">
                <div class="title">Privacy Protect</div>
                <p class="subtitle">
                  Excepteur sint occaecat cupidatat non proident voluptate
                </p>
                <a href="" class="btn btn-default-green">Read more</a>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="service-section">
                <div class="plans badge feat bg-grey">Cloud</div> 
                <img src="fonts/svg/cloudfiber.svg" height="60" alt="">
                <div class="title">Web Hosting</div>
                <p class="subtitle">
                  Excepteur sint occaecat cupidatat non proident dolor 
                </p>
                <a href="" class="btn btn-default-green">Read more</a>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="service-section">
                <img src="fonts/svg/center.svg" height="60" alt="">
                <div class="title">WHMCS Integrations</div>
                <p class="subtitle">
                  Duis aute irure dolor in reprehenderit in voluptate velit  
                </p>
                <a href="" class="btn btn-default-green">Read more</a>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="service-section">
                <img src="fonts/svg/browser.svg" height="60" alt="">
                <div class="title">Control Panel</div>
                <p class="subtitle">
                  Excepteur sint occaecat cupidatat non proident voluptate
                </p>
                <a href="" class="btn btn-default-green">Read more</a>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </section>
    <!-- 
    *******************
    PRICING TABLES   
    ******************* 
    -->
    <section class="sec-normal sec-bg1">
      <div class="best-plans pricing classic">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h2 class="section-heading">Your Domain Reselling Business</h2><br>
              <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn p-3 border-0 active">
                  <input type="radio" name="options" id="option1" checked> All Domains
                </label>
                <label class="btn p-3 border-0">
                  <input type="radio" name="options" id="option2"> ccTLD
                </label>
                <label class="btn p-3 border-0">
                  <input type="radio" name="options" id="option3"> gTLD
                </label>
                <label class="btn p-3 border-0">
                  <input type="radio" name="options" id="option4"> ngTLD
                </label>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="table-responsive-lg">
                <table class="table compare mt-5">
                  <thead>
                    <tr>
                      <td class="bb-green title">Popular Extensions</td>
                      <td class="bb-green title">Pack I</td>
                      <td class="bb-green title">Pack II</td>
                      <td class="bb-green title">Pack III</td>
                      <td class="bb-green title">Availability</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><div class="badge bg-green mr-1">PROMO</div> .com</td>
                      <td>$9.99</td>
                      <td>$14.99</td>
                      <td><span class="ltgh">$19.00</span>  <b class="c-green">$15.00</b></td>
                      <td><a href="" class="btn btn-default-green-fill">Register</a></td>
                    </tr>
                    <tr>
                      <td><div class="badge bg-green mr-1">NEW</div> .net</td>
                      <td>$12.23</td>
                      <td>$18.00</td>
                      <td>$21.00</td>
                      <td><a href="" class="btn btn-default-green-fill">Register</a></td>
                    </tr>
                    <tr>
                      <td><div class="badge bg-green mr-1">SALE</div> .info</td>
                      <td>$7.00</td>
                      <td>$12.00</td>
                      <td><i class="fas fa-times"></i></td>
                      <td><a href="" class="btn btn-default-green-fill">Register</a></td>
                    </tr>
                    <tr>
                      <td class="border-0">.Me</td>
                      <td class="border-0">$22.20</td>
                      <td class="border-0"><i class="fas fa-times"></i></td>
                      <td class="border-0"><i class="fas fa-times"></i></td>
                      <td class="border-0"><a href="" class="btn btn-default-green-fill">Register</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- 
    *******************
    SMALL CONTACT FORM   
    ******************* 
    -->
    <section class="small-contact sec-normal pt-60">
      <div class="container">
        <div class="sec-main sec-bg1">
          <div class="row">
            <div class="col-md-4">
              <h4 class="subtitle">Australia</h4>
              <p>HeadQuarters: No.02 - 399-0<br> Lorem Street City</p>
              <a class="golink text-dark" href="tel:+000111222333">+80 234 111 2233</a><br>
              <a class="golink text-dark" href="mailto:support@cloudy.com">support@cloudy.com</a>
            </div>
            <div class="col-md-4">
              <h4 class="subtitle">Portugal</h4>
              <p>Branch: No.22 - 129-0 <br>Lorem Street City</p>
              <a class="golink text-dark" href="tel:+000111222333">+351 234 111 233</a><br>
              <a class="golink text-dark" href="mailto:support@cloudy.com">info@cloudy.com</a>
            </div>
            <div class="col-md-4 social">
              <div onclick="openNav()" class="btn btn-default-green-fill">Contact us now</div>
              <p>Follow social networks</p>
              <a href="" target="_blank"><i class="icon-facebook"></i></a>
              <a href="" target="_blank"><i class="icon-linkedin"></i></a>
              <a href="" target="_blank"><i class="icon-pinterest"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- 
    ************************** 
    FULL OVERLAY CONTACT
    ************************** 
    -->
    <div id="myNav" class="fullrock bg-helpdesk overlay-full">
      <a onclick="closeNav()" class="closebtn">
        <img src="fonts/svg/close.svg" class="closer" alt="">
      </a>
      <div class="fullrock-content">
        <section class="pb-100">
          <div class="register contact-us">
            <div class="container">
              <img src="img/logo-light.svg" alt="logo" class="logo-footer">
              <div class="row m-0 bg-opacity-green">
                <div class="col-md-12 col-lg-4">
                  <div class="form-contact">
                    <i class="icon-helpdesk support"></i>
                    <h3 class="subtitle">We will help you to choose the best plan!</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    <div class="info">
                      <a href="tel:+000111222333">+80 234 111 2233</a><br>
                      <a href="mailto:support@cloudy.com">support@cloudy.com</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-lg-8 sec-bg1">
                  <div class="form-contact">
                    <div class="subtitle">We will help you to choose the best plan!</div>
                    <form id="contactForm" class="comments-form">
                      <input id="name" type="text" name="name" placeholder="Name" class="input" required>
                      <div class="row">
                        <div class="col-md-12 col-lg-6">
                          <input id="email" type="email" name="email" placeholder="E-mail" class="input" required>
                        </div>
                        <div class="col-md-12 col-lg-6">
                          <input id="phone" type="number" name="phone" placeholder="Number" class="input" required>
                        </div>
                      </div>
                      <textarea id="message" rows="4" name="comment" class="input comment" placeholder="Comment..."></textarea>
                      <div class="text-right text-xs-center">
                        <input id="form-submit" type="submit" class="btn btn-default-green-fill float-left" value="Submit">
                      </div>
                      <div id="msgSubmit" class="h4 text-right hidden"></div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <!-- 
    *******************
    FOOTER
    ******************* 
    -->
    <footer class="footer">
      <div class="top-footer-info">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="footer-feature-inner">
                <div class="feature-top-item">
                  <div class="media">
                    <div class="media-left">
                      <i class="icon-location"></i>
                    </div>
                    <div class="media-body">
                      <span>HeadQuarters</span> No.02 - 399-0 Lorem Street City
                    </div>
                  </div>
                </div>
                <div class="feature-top-item">
                  <div class="media">
                    <div class="media-left">
                      <i class="icon-phone"></i>
                    </div>
                    <div class="media-body">
                      <span>Call Us</span>+ (123) 1300-656-1046
                    </div>
                  </div>
                </div>
                <div class="feature-top-item">
                  <div class="media">
                    <div class="media-left">
                      <i class="icon-emailopen"></i>
                    </div>
                    <div class="media-body">
                      <span>Email Us</span>
                      <a href="#">cloudy@mail.com</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="footer-top">
          <div class="row">
            <div class="col-sm-6 col-md-3">
              <div class="heading">Hosting</div>
              <ul class="footer-menu classic">
                <li class="menu-item"><a href="hosting.html">Cloud Hosting</a></li>
                <li class="menu-item"><a href="reseller.html">Cloud Reseller</a></li>
                <li class="menu-item"><a href="dedicated.html">Dedicated Server</a></li>
                <li class="menu-item"><a href="vps.html">Cloud VPS</a></li>
                <li class="menu-item"><a href="ssl.html">SSL Certificates</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="heading">Company</div>
              <ul class="footer-menu classic">
                <li class="menu-item"><a href="about.html">About Us</a> </li>
                <li class="menu-item"><a href="team.html">Our Team</a></li>
                <li class="menu-item"><a href="blog-1.html">Blog</a></li>
                <li class="menu-item"><a href="shop.html">E-Shop</a></li>
                <li class="menu-item"><a href="legal.html">Legal</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="heading">Support</div>
              <ul class="footer-menu classic">
                <li class="menu-item"><a href="signup.html">myCloudy</a></li>
                <li class="menu-item"><a href="knowledgebase.html">Knowledge Base</a></li>
                <li class="menu-item"><a href="contact.html">Contact Us</a></li>
                <li class="menu-item"><a href="help.html">Help</a></li>
                <li class="menu-item"><a href="faq.html">FAQ</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-3">
              <a><img src="img/logo-light.svg" alt="logo" class="logo-footer"></a>
              <div class="copyrigh">©2018 Cloudy - All rights reserved</div>
              <div class="social">Stay Connected</div>
              <div class="soc-icons">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-google-plus-g"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a> 
                <a href=""><i class="fab fa-linkedin-in"></i></a>                     
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid p-0">
        <div class="footer-bottom">
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <ul class="footer-menu">
                  <li class="menu-item c-grey ml-0">Hybrid Design With ♥ by 
                    <a href="http://inebur.com/" target="_blank">inebur</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="payment-list">
                  <li><p>Payments We Accept</p></li>
                  <li><i class="fab fa-cc-paypal"></i></li>
                  <li><i class="fab fa-cc-visa"></i></li>
                  <li><i class="fab fa-cc-mastercard"></i></li>
                  <li><i class="fab fa-cc-apple-pay"></i></li>
                  <li><i class="fab fa-cc-discover"></i></li>
                  <li><i class="fab fa-cc-amazon-pay"></i></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <a href="#0" class="cd-top"> <i class="fas fa-angle-up"></i> </a>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/idangerous.swiper.min.js"></script>
    <script src="js/jquery.viewportchecker.min.js"></script>
    <script src="js/jquery.circliful.min.js"></script>
    <script src="js/jquery.countdown.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/jquery.mixitup.min.js"></script>
    <script src="js/filter.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>