{% extends 'base.html' %}
{% block title %}{% endblock title %}
{% block body %}
<!-- 
*******************
BANNER
******************* 
-->
<div class="top-header overlay bg-team">
    <div class="container">
        <div class="row">
        <div class="col-sm-12 col-md-5 col-lg-4">
            <div class="wrapper">
            <div class="heading">Contact us</div>
            <div class="subheading">
                <a href="index.html" class="link">home</a> <i class="fas fa-star"></i>
                <a href="#" class="link">pages</a> <i class="fas fa-star"></i>
                <a href="services.html" class="link active">contact us</a>
            </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-7 col-lg-8">
            <div class="specs float-right">
            <div class="">
                <img src="fonts/svg/livechat.svg" height="42" alt="">
                <p>Go Live Chat</p>
            </div>
            <div class="">
                <img src="fonts/svg/emailopen.svg" height="42" alt="">
                <p>Send Ticket</p>
            </div>
            <div class="">
                <img src="fonts/svg/phone.svg" height="42" alt="">
                <p>Phone Contact</p>
            </div>
            <div class="">
                <img src="fonts/svg/book.svg" height="42" alt="">
                <p>Knowledge base</p>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <!-- 
    *******************
    CONTACT
    ******************* 
    -->
    <section class="sec-up pb-80">
    <div class="h-services">
        <div class="container">
        <div class="sec-main sec-bg1">
            <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="section-heading">Contact us now!</h2>
                <p class="section-subheading">We are available at <b class="c-green">Melbourne, London and Portugal.</b></p>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="wrap-service">
                <img src="img/contact01.jpg" alt="team" class="img-responsive">
                <div class="heading">Melbourne</div>
                <p><small>Call us: + (123) 1300-656-1046</small></p>
                <div class="text-info">HeadQuarters - No.02 - 399-0 Lorem Street City Melbourne</div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="wrap-service">
                <img src="img/contact02.jpg" alt="team" class="img-responsive">
                <div class="heading">London</div>
                <p><small>Call us: + (123) 1300-656-1046</small></p>
                <div class="text-info">Office - No.02 - 399-0 Lorem Street City London</div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="wrap-service">
                <img src="img/contact03.jpg" alt="team" class="img-responsive">
                <div class="heading">Portugal</div>
                <p><small>Call us: + (123) 1300-656-1046</small></p>
                <div class="text-info">Office - No.03 - 399-0 Lorem Street City Portugal</div>
                </div>
            </div>  
            </div>
        </div>
        </div>
    </div>
    </section>
    <!-- 
    *******************
    CONTACT FORM 
    *******************
    -->
    <section class="sec-normal">
    <div class="register contact-us">
        <div class="container">
        <div class="row b-solid m-0">
            <div class="col-md-12 col-lg-4 sec-bg4">
            <div class="form-contact">
                <i class="icon-helpdesk support"></i>
                <h3 class="subtitle">We will help you to choose the best plan!</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                <div class="info">
                <a href="tel:+000111222333">+80 234 111 2233</a><br>
                <a href="mailto:support@cloudy.com">support@cloudy.com</a>
                </div>
            </div>
            </div>
            <div class="col-md-12 col-lg-8 sec-bg1">
            <div class="form-contact">
                <div class="subtitle">We will help you to choose the best plan!</div>
                <form id="contactForm" method="POST" class="comments-form">
                <input id="name" type="text" name="name" placeholder="Name" class="input" required="">
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                    <input id="email" type="email" name="email" placeholder="E-mail" class="input" required="">
                    </div>
                    <div class="col-md-12 col-lg-6">
                    <input id="phone" type="number" name="phone" placeholder="Phone" class="input" required="">
                    </div>
                </div>
                <textarea id="message" rows="4" name="message" class="input comment" placeholder="Comment..."></textarea>
                <div class="text-right text-xs-center">
                    <input type="submit" class="btn btn-default-green-fill float-left button" value="Submit">
                </div>
                <h5 id="msgSubmit" class="text-right text-success"> Message Submitted!</h5>
                </form>
            </div>
            </div>
        </div>
        </div>
    </div>
    </section>
    <!-- 
    *******************
    MAP
    ****************** 
    -->
    <div class="google-maps">
    <div 
        class="map" 
        data-lat="-37.754399" 
        data-lng="144.973339"  
        data-marker="img/marker.png"
        data-zoom="10" 
        data-style="style-1"
        ></div>
    </div>
{% endblock body %}