{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock  %}
{% block body %}
    <!-- 
    *******************
    SLIDER  
    *******************
    -->
    <div id="owl-demo" class="owl-carousel">
        <div class="full overlay item3 h-100">
          <div class="vc-parent">
            <div class="vc-child">
              <div class="top-banner classic">
                <div class="container text-center">
                  <h1 class="heading">Cloud Reseller Plans</h1>
                  <div class="subheading">
                    <span>Create now our own Hosting Business for only <b class="c-green">$3.66/mo</b></span>
                    <div class="chars">
                      <div class="col-sm-3 col-md-3 col-lg-3">
                        <img src="fonts/svg/cloudfast.svg" height="42" alt="">
                        <p>Hosting SSD</p>
                      </div>
                      <div class="col-sm-3 col-md-3 col-lg-3">
                        <img src="fonts/svg/flash.svg" height="42" alt="">
                        <p>Unlimited Traffic</p>
                      </div>
                      <div class="col-sm-3 col-md-3 col-lg-3">
                        <img src="fonts/svg/drivessd.svg" height="42" alt="">
                        <p>+210GB Disk</p>
                      </div>
                      <div class="col-sm-3 col-md-3 col-lg-3">
                        <img src="fonts/svg/repair.svg" height="42" alt="">
                        <p>Daily Backups</p>
                      </div>
                    </div>
                  </div>
                  <a href="all-services-repair.html" class="btn btn-default-grad-purple-fill">Learn More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 
      *******************
      GET READY TAB  
      *******************
      -->
      <section class="getready">
        <div class="container">
          <div class="content sec-bg3">
            <div class="row">
              <div class="col-lg-7">
                <div class="column-support-txt">
                  <div class="column-support-title">Ready to start?</div> 
                  <div class="column-support-subtitle">Try our free High Performance Servers for 12 day trial!</div>
                </div>
              </div> 
              <div class="col-lg-5">
                <div class="general-input">
                  <input type="email" name="email" placeholder="Enter your email address" class="fill-input">
                  <input type="submit" value="GET STARTED" class="btn btn-default">
                </div>
              </div>
            </div>
          </div>  
        </div>
      </section>
      <!-- 
      ******************
      FEATURES
      ****************** 
      -->
      <section class="sec-normal">
        <div class="history-section">
          <div class="container">
            <div class="sec-main sec-bg1">
              <div class="section-heading-wrap">
                <div class="col-sm-12 col-md-12 text-center">
                  <h2 class="section-heading">Features of Managed Server</h2>
                  <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-6">
                  <div class="wrappper">
                    <img src="fonts/svg/infrastructure.svg" alt="">
                    <h4 class="title">
                      Robust Infrastructure
                    </h4>
                    <div class="desc">
                      But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will.
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-6">
                  <div class="wrappper">
                    <img src="fonts/svg/privacy.svg" alt="">
                    <h4 class="title">
                      Full Root Access
                    </h4>
                    <div class="desc">
                      But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will.
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-6">
                  <div class="wrappper">
                    <img src="fonts/svg/managedserver.svg" alt="">
                    <h4 class="title">
                      Fully Managed
                    </h4>
                    <div class="desc">
                      But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will.
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-6">
                  <div class="wrappper last">
                    <img src="fonts/svg/select.svg" alt="">
                    <h4 class="title">
                      Easily Setup
                    </h4>
                    <div class="desc">
                      But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 
      *******************
      HORIZONTAL PLANS 
      ******************* 
      -->
      <div class="horiz-plans sec-bg1 sec-normal">
        <div class="container">
          <div class="wrapper-h-plans">
            <div class="section-plans text-left">
              <div class="row">
                <div class="col-md-12 col-lg-9">
                  <div class="p-5">
                    <div class="heading">Cloud Hosting</div>
                    <div class="desc">
                      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                    <hr>
                    <div class="plans-detail">
                      <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-3 pt-2">
                          <i class="icon-drives"></i>
                          <span class="number">16GB Disk Space</span>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 pt-2">
                          <i class="icon-speed"></i>
                          <span class="number">500GB Bandwith</span>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 pt-2">
                          <i class="icon-email"></i>
                          <span class="number">75 Email Accounts</span>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 pt-2">
                          <i class="icon-domains"></i>
                          <span class="number">15 Domains</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-lg-3">
                  <div class="h-plans-info sec-bg3">
                    <div class="header-wrap">
                      <h6>before <span class="ltgh"><sup>$</sup>52.99 <span class="period">/yr</span></span></h6>
                      <div class="price">Now <sup>$</sup>36.90 <span class="period">/yr</span></div> 
                      <div class="heading">Use Coupon: "HOS36"</div>
                      <a href="#" class="btn btn-default-green-fill">Buy now</a>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
      <div class="horiz-plans sec-normal">
        <div class="container">
          <div class="wrapper-h-plans">
            <div class="section-plans text-left">
              <div class="row">
                <div class="col-md-12 col-lg-3">
                  <div class="h-plans-info sec-bg3">
                    <div class="header-wrap">
                      <h6>before <span class="ltgh"><sup>$</sup>77.10 <span class="period">/yr</span></span></h6>
                      <div class="price">Now <sup>$</sup>40.00 <span class="period">/yr</span></div> 
                      <div class="heading">Use Coupon: "RES40"</div>
                      <a href="#" class="btn btn-default-green-fill">Buy now</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-lg-9">
                  <div class="p-5">
                    <div class="heading">Cloud Reseller</div>
                    <div class="desc">
                      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                    <hr>
                    <div class="plans-detail">
                      <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-3 pt-2">
                          <i class="icon-drives"></i>
                          <span class="number">60GB Disk Space</span>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 pt-2">
                          <i class="icon-docbox"></i>
                          <span class="number">25GB Accounts</span>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 pt-2">
                          <i class="icon-drivessd"></i>
                          <span class="number">SSD Disk 10x</span>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 pt-2">
                          <i class="icon-latency"></i>
                          <span class="number">Traffic Unlimited</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
      <!-- 
      *******************
      PRICING TABLES  
      ******************* 
      -->
      <section class="item5 overlay sec-normal">
        <div class="pricing tablepage">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-12 text-center">
                <h2 class="section-heading text-white">Which Cloud Is Right For You</h2>
                <p class="section-subheading text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="wrapper border-0 first">
                  <img class="mb-3" src="fonts/svg/cloudfiber.svg" height="65" alt="">
                  <div class="title">Cloud Hosting</div>
                  <div class="fromer">from</div>
                  <div class="price"><sup>$</sup>24.99 <span class="period">/mo</span></div>
                  <ul class="list-info">
                    <li>90GB Disk Space</li>
                    <li>500GB Bandwith</li>
                    <li>35 Email Accounts</li>
                    <li>10 Domains</li>
                  </ul>
                  <a href="" class="btn btn-default-grad-purple-fill">Order now</a>
                </div>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="wrapper active">
                  <div class="plans badge feat bg-green">King sales</div>
                  <img class="mb-3" src="fonts/svg/dedicated.svg" height="65" alt="">
                  <div class="title">Dedicated Server</div>
                  <div class="fromer">from</div>
                  <div class="price"><sup>$</sup>185.00 <span class="period">/mo</span></div>
                  <ul class="list-info">
                    <li>8GB DDR3 ECC</li>
                    <li>4x2 3.20Ghz</li>
                    <li>1TB SSD</li>
                    <li>8 Domains</li>
                  </ul>
                  <a href="" class="btn btn-default-grad-purple-fill">Configure</a>
                </div>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="wrapper border-0 third">
                  <img class="mb-3" src="fonts/svg/vps.svg" height="65" alt="">
                  <div class="title">Cloud VPS</div>
                  <div class="fromer">from</div>
                  <div class="price"><sup>$</sup>109.99 <span class="period">/mo</span></div>
                  <ul class="list-info">
                    <li>4Gb Memory</li>
                    <li>60GB HDD Raid 10</li>
                    <li>Unlimited Traffic</li>
                    <li>2 IP Address</li>
                  </ul>
                  <a href="" class="btn btn-default-grad-purple-fill">Configure</a>
                </div>
              </div>
            </div>  
          </div>
        </div>
      </section>
      <!-- 
      *******************
      TEAM
      *******************
      -->
      <section class="pt-80">
        <div class="team">
          <div class="container">
            <div class="sec-main sec-grad-purple">
              <div class="row">
                <div class="col-sm-12 col-md-12 text-center">
                  <h2 class="section-heading">Amazing Team Cloudy 7</h2>
                  <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                  <div class="wrapper">
                    <div class="img-section">
                      <img src="img/team01.jpg" alt="team" class="img-responsive">
                      <div class="soc-icons-wrap">
                        <div class="icons">
                          <a href=""><i class="fab fa-facebook-f"></i></a>
                          <a href=""><i class="fab fa-google-plus-g"></i></a>
                          <a href=""><i class="fab fa-twitter"></i></a> 
                          <a href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                      </div>
                    </div>
                    <div class="team-info">
                      <h3 class="heading">John T. Erikson</h3>
                      <div class="subheading">CTO - Full Stack</div>
                      <div class="desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit 
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                  <div class="wrapper">
                    <div class="img-section">
                      <img src="img/team02.jpg" alt="team" class="img-responsive">
                      <div class="soc-icons-wrap">
                        <div class="icons">
                          <a href=""><i class="fab fa-facebook-f"></i></a>
                          <a href=""><i class="fab fa-google-plus-g"></i></a>
                          <a href=""><i class="fab fa-twitter"></i></a> 
                          <a href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                      </div>
                    </div>
                    <div class="team-info">
                      <h3 class="heading">Walter T. Adams</h3>
                      <div class="subheading">Font-End Developer</div>
                      <div class="desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                  <div class="wrapper">
                    <div class="img-section">
                      <img src="img/team03.jpg" alt="team" class="img-responsive">
                      <div class="soc-icons-wrap">
                        <div class="icons">
                          <a href=""><i class="fab fa-facebook-f"></i></a>
                          <a href=""><i class="fab fa-google-plus-g"></i></a>
                          <a href=""><i class="fab fa-twitter"></i></a> 
                          <a href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                      </div>
                    </div>
                    <div class="team-info">
                      <h3 class="heading">Verna B. Ahmed</h3>
                      <div class="subheading">Senior Marketing</div>
                      <div class="desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit 
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

{% endblock  %}