{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock  %}


{% block nav_menu %}{% endblock  %}
{% block NAV_MENU_MOBILE %}{% endblock  %}

{% block body %}
    <!-- 
    *******************
    FULL SIGNUP PAGE
    ******************* 
    -->
<div class="fullrock item5 overlay-full">
        <a onclick="window.history.go(-1); return false;" class="closebtn">
          <img src="{% static 'fonts/svg/close.svg' %}" class="closer" alt="">
        </a>
        <div class="fullrock-content">
          <section class="section-content pb-100">
            <div class="register contact-us">
              <div class="container">
                <img src="{% static 'img/logo-light.svg' %}" alt="logo" class="logo-footer">
                <div class="row sec-bx bg-opacity-grey">
                  <div class="col-md-12 col-lg-4">
                    <div class="form-contact">
                      <i class="icon-privacy"></i>
                      <h3 class="subtitle">Awesome Hosting Provider. Check it out!</h3>
                      <p>Create an account by entering the information on right. If you are a returning customer please login.</p>
                      <div class="info">
                        <a href="tel:+000111222333">+80 234 111 2233</a><br>
                        <a href="mailto:support@cloudy.com">support@cloudy.com</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-lg-8 sec-bg1">
                    <div class="form-contact">
                      <div class="subtitle">New Customer Account</div>
                      <form class="comments-form">
                        <input id="name" type="text" name="name" placeholder="Name" class="input" required>
                        <div class="row">
                          <div class="col-md-12 col-lg-6">
                            <input id="email" type="email" name="email" placeholder="E-mail" class="input" required="">
                          </div>
                          <div class="col-md-12 col-lg-6">
                            <input id="phone" type="number" name="phone" placeholder="Number" class="input" required="">
                          </div>
                        </div>
                        <input type="password" name="password" placeholder="Password" class="input" required>
                        <input type="password" name="password" placeholder="Password Again" class="input" required>
                        <input id="form-submit" type="submit" class="btn btn-default-green-fill" value="Register">
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
{% endblock  %}


{% block footer %}{% endblock  %}