{% extends 'base.html' %}
{% load static %}
{% block title %}Basic Hosting{% endblock  %}
{% block body %}
<!-- 
    *******************
    BANNER
    ******************* 
    -->
    <div class="top-header item1 overlay">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-5 col-lg-4">
              <div class="wrapper">
                <div class="heading">Cloud Hosting</div>
                <div class="subheading">
                  <a href="index.html" class="link">home</a> <i class="fas fa-star"></i>
                  <a href="#" class="link">pages</a> <i class="fas fa-star"></i>
                  <a href="services.html" class="link active">hosting</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-7 col-lg-8">
              <div class="specs float-right">
                <div class="">
                  <img src="{% static 'fonts/svg/cloudfast.svg' %}" height="42" alt="">
                  <p>Hosting SSD</p>
                </div>
                <div class="">
                  <img src="{% static 'fonts/svg/flash.svg' %}" height="42" alt="">
                  <p>Unlimited Traffic</p>
                </div>
                <div class="">
                  <img src="{% static 'fonts/svg/drivessd.svg' %}" height="42" alt="">
                  <p>+210GB Disk</p>
                </div>
                <div class="">
                  <img src="{% static 'fonts/svg/repair.svg' %}" height="42" alt="">
                  <p>Daily Backups</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 
      *******************
      PRICING TABLES   
      ******************* 
      -->
      <section class="sec-up">
        <div class="best-plans pricing classic">
          <div class="container">
            <div class="sec-main sec-bg1">
              <div class="row">
                <div class="col-sm-12">
                  <div class="table-responsive-lg">
                    <table class="table">
                      <thead>
                        <tr>
                          <td></td>
                          <td>
                            <div class="title">Personal</div>
                            <div class="price"><sup>$</sup>3.66<span class="period">/mo</span></div>
                            <div class="plans badge bg-grey">Renews $3.66 /mo</div>
                            <div class="info">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</div>
                            <a href="" class="btn btn-default-green-fill">Buy Now</a><br>
                          </td>
                          <td>
                            <div class="title">Business</div>
                            <div class="price"><sup>$</sup>9.90<span class="period">/mo</span></div>
                            <div class="plans badge bg-grey">Renews $9.90 /mo</div>
                            <div class="info">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</div>
                            <a href="" class="btn btn-default-green-fill">Buy Now</a>
                          </td>
                          <td>
                            <div class="title">Professional</div>
                            <div class="price"><sup>$</sup>14.00<span class="period">/mo</span></div>
                            <div class="plans badge bg-grey">Renews $17.02 /mo</div>
                            <div class="info">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</div>
                            <a href="" class="btn btn-default-green-fill">Buy Now</a>
                          </td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <div class="title-table" data-toggle="tooltip" data-placement="top" title="" data-original-title="I must explain to you">Disk Space
                            </div>
                          </td>
                          <td>10GB</td>
                          <td>Unlimited</td>
                          <td>Unlimited</td>
                        </tr>
                        <tr>
                          <td>
                            <div id="element" class="title-table" data-toggle="tooltip" data-placement="top" title="" data-original-title="I must explain to you">Bandwidth
                            </div>
                          </td>
                          <td>40GB</td>
                          <td>60GB</td>
                          <td>Unlimited</td>
                        </tr>
                        <tr>
                          <td class="title-table">Email Accounts</td>
                          <td>Unlimited</td>
                          <td>Unlimited</td>
                          <td>Unlimited</td>
                        </tr>
                        <tr>
                          <td class="title-table">FTP account</td>
                          <td><i class="fas fa-check"></i></td>
                          <td><i class="fas fa-check"></i></td>
                          <td><i class="fas fa-check"></i></td>
                        </tr>
                        <tr>
                          <td class="title-table">Subdomains</td>
                          <td><i class="fas fa-check"></i></td>
                          <td><i class="fas fa-check"></i></td>
                          <td><i class="fas fa-check"></i></td>
                        </tr>
                        <tr>
                          <td class="title-table">Free Daily Backups</td>
                          <td><i class="fas fa-times"></i></td>
                          <td><i class="fas fa-check"></i></td>
                          <td><i class="fas fa-check"></i></td>
                        </tr>
                        <tr>
                          <td class="title-table">24x7 Support</td>
                          <td><i class="fas fa-check"></i></td>
                          <td><i class="fas fa-check"></i></td>
                          <td><i class="fas fa-check"></i></td>
                        </tr>
                        <tr>
                          <td class="title-table">Control Panel</td>
                          <td>cPanel</td>
                          <td>cPanel</td>
                          <td>cPanel</td>
                        </tr>
                        <tr>
                          <td class="border-0"></td>
                          <td><a href="" class="btn btn-default-green-fill">Buy Now</a></td>
                          <td><a href="" class="btn btn-default-green-fill">Buy Now</a></td>
                          <td><a href="" class="btn btn-default-green-fill">Buy Now</a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 
      *******************
      WHY CHOOSE CLOUDY  
      ******************* 
      -->
      <section class="services classic sec-normal mt-150 sec-grad-full-green">
        <div class="container">
          <div class="service-wrap">
            <div class="row">
              <div class="col-sm-12 text-center">
                <h2 class="section-heading text-white">Why choose Cloud Hosting</h2>
                <p class="section-subheading text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="service-section sec-grad-grey">
                  <i class="icon-window"></i>
                  <div class="title">Free cPanel</div>
                  <p class="subtitle">
                    Excepteur sint occaecat cupidatat non proident dolor 
                  </p>
                  <a href="" class="btn btn-default-green">Read more</a>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="service-section sec-grad-grey">
                  <i class="icon-helpdesk"></i>
                  <div class="title">24x7x365 Support</div>
                  <p class="subtitle">
                    Duis aute irure dolor in reprehenderit in voluptate velit  
                  </p>
                  <a href="" class="btn btn-default-green">Read more</a>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="service-section sec-grad-grey">
                  <div class="plans badge feat bg-green">Softaculous</div> 
                  <i class="icon-add"></i>
                  <div class="title">Easy 1-click-installer</div>
                  <p class="subtitle">
                    Excepteur sint occaecat cupidatat non proident voluptate
                  </p>
                  <a href="" class="btn btn-default-green">Read more</a>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="service-section sec-grad-grey">
                  <div class="plans badge feat bg-grey">Site Builder</div> 
                  <i class="icon-flash"></i>
                  <div class="title">Fast Websites</div>
                  <p class="subtitle">
                    Excepteur sint occaecat cupidatat non proident dolor 
                  </p>
                  <a href="" class="btn btn-default-green">Read more</a>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="service-section sec-grad-grey">
                  <i class="icon-switch"></i>
                  <div class="title">Easy Installation SSL</div>
                  <p class="subtitle">
                    Duis aute irure dolor in reprehenderit in voluptate velit  
                  </p>
                  <a href="" class="btn btn-default-green">Read more</a>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="service-section sec-grad-grey">
                  <i class="icon-inverse"></i>
                  <div class="title">Website Migrations</div>
                  <p class="subtitle">
                    Excepteur sint occaecat cupidatat non proident voluptate
                  </p>
                  <a href="" class="btn btn-default-green">Read more</a>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </section>
      <!-- 
      *******************
      SPECIFICATIONS  
      ******************* 
      -->
      <section class="sec-normal sec-bg1">
        <div class="best-plans pricing classic">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h2 class="section-heading">Cloud Hosting Technical Specifications</h2>
                <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div>
              <div class="col-sm-12">
                <div class="table-responsive-lg">
                  <table class="table sample mt-5">
                    <thead>
                      <tr>
                        <td>
                          <span class="title">Software </span> <span class="badge bg-green">CORE</span>
                        </td>
                        <td>
                          <div class="title">Databases</div>
                        </td>
                        <td>
                          <div class="title">Software</div>
                        </td>
                        <td>
                          <div class="title">Security</div>
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div class="title-table" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">PHP 5.5/5.6/7.0/7.1
                          </div>
                        </td>
                        <td>MySQL 5.6</td>
                        <td>Zend Engine</td>
                        <td>Password protected folders</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="title-table" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Perl
                          </div>
                        </td>
                        <td>phpMyAdmin 4.6.6</td>
                        <td>Zend Optimizer</td>
                        <td>Hotlink Protection</td>
                      </tr>
                      <tr>
                        <td class="title-table">Python 2.6.6</td>
                        <td>FTPES Supported</td>
                        <td>Zend Guard Loader</td>
                        <td>Leech Protection</td>
                      </tr>
                      <tr>
                        <td class="title-table">PostgreSQL</td>
                        <td>MSSQL Stored Procedures</td>
                        <td>ionCube Loader </td>
                        <td>Clam AV Antivirus</td>
                      </tr>
                      <tr>
                        <td class="border-0"><a href="" class="btn btn-default-green">All Specs</a></td>
                        <td class="border-0"><a href="" class="btn btn-default-green">All Specs</a></td>
                        <td class="border-0"><a href="" class="btn btn-default-green">All Specs</a></td>
                        <td class="border-0"><a href="" class="btn btn-default-green">All Specs</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 
      *******************
      FAQ
      ******************* 
      -->
      <section class="sec-normal">
        <div class="faq">
          <div class="container">
            <div class="sec-main sec-bg1">
              <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                  <h2 class="section-heading">Cloud Hosting FAQs</h2>
                  <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                </div>
                <div class="col-sm-12">
                  <div class="accordion faq pt-5">
                    <div class="panel-wrap">
                      <div class="panel-title">
                        <span>What is Cloud Hosting?</span>
                        <div class="float-right">
                          <i class="fa fa-plus"></i>
                          <i class="fa fa-minus"></i>
                        </div>
                      </div>
                      <div class="panel-collapse">
                        <div class="wrapper-collapse">
                          <div class="info">
                            <ul class="list">
                              <li>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel-wrap">
                      <div class="panel-title">
                        <span>Does Shared Web Hosting include Email Hosting as well?</span>
                        <div class="float-right">
                          <i class="fa fa-plus"></i>
                          <i class="fa fa-minus"></i>
                        </div>
                      </div>
                      <div class="panel-collapse">
                        <div class="wrapper-collapse">
                          <div class="info">
                            <ul class="list">
                              <li>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel-wrap">
                      <div class="panel-title">
                        <span>Is an upgrade possible from my current Linux Shared Hosting Plan?</span>
                        <div class="float-right">
                          <i class="fa fa-plus"></i>
                          <i class="fa fa-minus"></i>
                        </div>
                      </div>
                      <div class="panel-collapse">
                        <div class="wrapper-collapse">
                          <div class="info">
                            <ul class="list">
                              <li>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel-wrap">
                      <div class="panel-title">
                        <span>Is there any money back guarantee with the Linux Web Hosting services?</span>
                        <div class="float-right">
                          <i class="fa fa-plus"></i>
                          <i class="fa fa-minus"></i>
                        </div>
                      </div>
                      <div class="panel-collapse">
                        <div class="wrapper-collapse">
                          <div class="info">
                            <ul class="list">
                              <li>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>  
          </div>
        </div>
      </section>
{% endblock  %}