{% extends 'base.html' %}
{% block titile %}Domains{% endblock  %}
{% block body %}
<!-- 
*******************
BANNER
******************* 
-->
<div class="top-header overlay item6">
    <div class="container">
        <div class="row">
        <div class="col-md-12 text-center">
            <div class="wrapper">
            <div class="heading">Perfect Domain Name</div>
            <div class="subheading">Choose from hundreds of extensions and put your website in the world.</div>
            <div class="col-md-6 offset-md-3">
                <form action="http://inebur.com/whmcs/domainchecker.php?systpl=cloudy" method="post">
                <div class="subheading general-input">
                    <input type="text" name="domain" placeholder="Start your search here" class="fill-input">
                    <input type="submit" value="Search" class="btn btn-default">
                </div>
                </form>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <!-- 
    *******************
    FILTER   
    ******************* 
    -->
    <main class="cd-main-content">
    <div class="cd-tab-filter-wrapper">
        <div class="cd-tab-filter">
        <ul class="cd-filters">
            <li class="placeholder"> 
            <a data-type="all" href="#0"> All Servers</a>
            </li> 
            <li class="filter"><a class="selected" href="#0" data-type="all">All Domains</a></li>
            <li class="filter" data-filter=".ccTLD"><a href="#0" data-type="ccTLD">Countries ccTLD</a></li>
            <li class="filter" data-filter=".gTLD"><a href="#0" data-type="gTLD">Generic gTLD</a></li>
            <li class="filter" data-filter=".ngTLD"><a href="#0" data-type="ngTLD">New ngTLD</a></li>
        </ul>
        </div>
    </div>
    <section class="cd-gallery">
        <div class="container">
        <ul class="p-0">
            <li class="mix gTLD com promotion data3">
            <div class="refine">
                <div class="wrapper bg-white">
                <div class="plans badge feat bg-green">Promo</div> 
                <h3 class="title os-light">.com</h3>
                <p class="fromer">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                <div class="price"><sup>$</sup>0.99 <span class="period">/yr</span></div>
                <p>before <span class="ltgh"><sup>$</sup>12.00 <span class="period">/yr</span></span></p>
                <a href="" class="btn btn-default-green-fill">Register</a>
                </div>
            </div>
            </li>
            <li class="mix ngTLD tech premium euro technology">
            <div class="refine">
                <div class="wrapper bg-white">
                <div class="plans badge feat bg-grey">Technology</div> 
                <h3 class="title os-light">.tech</h3>
                <p class="fromer">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                <div class="price"><sup>$</sup>8.99 <span class="period">/yr</span></div><br>
                <p></p>
                <a href="" class="btn btn-default-green-fill">Register</a>
                </div>
            </div>
            </li>
            <li class="mix gTLD org silver cny professional">
            <div class="refine">
                <div class="wrapper bg-white">
                <h3 class="title os-light">.org</h3>
                <p class="fromer">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                <div class="price"><sup>$</sup>10.00 <span class="period">/yr</span></div><br>
                <p></p>
                <a href="" class="btn btn-default-green-fill">Register</a>
                </div>
            </div>
            </li>
            <li class="mix ccTLD silver usd industry">
            <div class="refine">
                <div class="wrapper bg-white">
                <h3 class="title os-light">.bz</h3>
                <p class="fromer">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                <div class="price"><sup>$</sup>44.00 <span class="period">/yr</span></div><br>
                <p></p>
                <a href="" class="btn btn-default-green-fill">Register</a>
                </div>
            </div>
            </li>
            <li class="mix ngTLD premium usd professional">
            <div class="refine">
                <div class="wrapper bg-white">
                <h3 class="title os-light">.work</h3>
                <p class="fromer">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                <div class="price"><sup>$</sup>25.20 <span class="period">/yr</span></div><br>
                <p></p>
                <a href="" class="btn btn-default-green-fill">Register</a>
                </div>
            </div>
            </li>
            <li class="mix ngtld bank silver usd industry">
            <div class="refine">
                <div class="wrapper bg-white">
                <div class="plans badge feat bg-grey">Financial</div> 
                <h3 class="title os-light">.bank</h3>
                <p class="fromer">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                <div class="price"><sup>$</sup>25.20 <span class="period">/yr</span></div><br>
                <p></p>
                <a href="" class="btn btn-default-green-fill">Register</a>
                </div>
            </div>
            </li>
            <li class="mix ccTLD promotion usd educacion">
            <div class="refine">
                <div class="wrapper bg-white">
                <div class="plans badge feat bg-green">Promo</div> 
                <h3 class="title os-light">.eu</h3>
                <p class="fromer">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                <div class="price"><sup>$</sup>3.00 <span class="period">/yr</span></div>
                <p>before <span class="ltgh"><sup>$</sup>9.00 <span class="period">/yr</span></span></p>
                <a href="" class="btn btn-default-green-fill">Register</a>
                </div>
            </div>
            </li>
            <li class="mix ccTLD promotion euro educacion">
            <div class="refine">
                <div class="wrapper bg-white">
                <div class="plans badge feat bg-green">Promo 50%</div> 
                <h3 class="title os-light">.pt</h3>
                <p class="fromer">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                <div class="price"><sup>$</sup>9.00 <span class="period">/yr</span></div>
                <p>before <span class="ltgh"><sup>$</sup>18.00 <span class="period">/yr</span></span></p>
                <a href="" class="btn btn-default-green-fill">Register</a>
                </div>
            </div>
            </li>
            <li class="mix ngTLD premium euro industry">
            <div class="refine">
                <div class="wrapper bg-white">
                <div class="plans badge feat bg-green">HOT</div> 
                <h3 class="title os-light">.sexy</h3>
                <p class="fromer">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                <div class="price"><sup>$</sup>122.00 <span class="period">/yr</span></div><br>
                <p></p>
                <a href="" class="btn btn-default-green-fill">Register</a>
                </div>
            </div>
            </li>
            <li class="mix ngTLD silver cny technology">
            <div class="refine">
                <div class="wrapper bg-white">
                <h3 class="title os-light">.domains</h3>
                <p class="fromer">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                <div class="price"><sup>$</sup>22.99 <span class="period">/yr</span></div><br>
                <p></p>
                <a href="" class="btn btn-default-green-fill">Register</a>
                </div>
            </div>
            </li>
            <li class="mix ccTLD promotion euro educacion">
            <div class="refine">
                <div class="wrapper bg-white">
                <div class="plans badge feat bg-green">Promo</div> 
                <h3 class="title os-light">.us</h3>
                <p class="fromer">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                <div class="price"><sup>$</sup>3.00 <span class="period">/yr</span></div>
                <p>before <span class="ltgh"><sup>$</sup>12.00 <span class="period">/yr</span></span></p>
                <a href="" class="btn btn-default-green-fill">Register</a>
                </div>
            </div>
            </li>
            <li class="mix gTLD silver cny technology">
            <div class="refine">
                <div class="wrapper bg-white">
                <h3 class="title os-light">.tel</h3>
                <p class="fromer">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                <div class="price"><sup>$</sup>33.49 <span class="period">/yr</span></div><br>
                <p></p>
                <a href="" class="btn btn-default-green-fill">Register</a>
                </div>
            </div>
            </li>
            <li class="mix ngTLD premium cny educacion">
            <div class="refine">
                <div class="wrapper bg-white">
                <h3 class="title os-light">.guru</h3>
                <p class="fromer">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                <div class="price"><sup>$</sup>21.00 <span class="period">/yr</span></div><br>
                <p></p>
                <a href="" class="btn btn-default-green-fill">Register</a>
                </div>
            </div>
            </li>
            <li class="mix ccTLD silver usd educacion">
            <div class="refine">
                <div class="wrapper bg-white">
                <h3 class="title os-light">.co</h3>
                <p class="fromer">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                <div class="price"><sup>$</sup>11.00 <span class="period">/yr</span></div><br>
                <p></p>
                <a href="" class="btn btn-default-green-fill">Register</a>
                </div>
            </div>
            </li>
            <li class="mix gTLD silver cny technology">
            <div class="refine">
                <div class="wrapper bg-white">
                <h3 class="title os-light">.net</h3>
                <p class="fromer">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                <div class="price"><sup>$</sup>14.00 <span class="period">/yr</span></div><br>
                <p></p>
                <a href="" class="btn btn-default-green-fill">Register</a>
                </div>
            </div>
            </li>
            <li class="gap"></li>
            <li class="gap"></li>
            <li class="gap"></li>
        </ul>
        <div class="cd-fail-message">No results found</div>
        </div>
    </section>
    <div class="cd-filter">
        <form>
        <div class="cd-filter-block">
            <h4>Search Domains</h4>
            <div class="cd-filter-content">
            <input type="search" placeholder="Search...">
            </div>
        </div>
        <div class="cd-filter-block hider">
            <h4>Choose Category</h4>
            <ul class="cd-filter-content cd-filters list">
            <li>
                <input class="filter selected" data-type="all" type="radio" name="radioButton" id="radio4">
                <label class="radio-label" for="radio4">All Domains</label>
            </li>
            <li>
                <input class="filter" data-filter=".ccTLD" data-type="ccTLD" type="radio" name="radioButton" id="radio5">
                <label class="radio-label" for="radio5">Countries ccTLD</label>
            </li>
            <li>
                <input class="filter" data-filter=".gTLD" data-type="gTLD" type="radio" name="radioButton" id="radio6">
                <label class="radio-label" for="radio6">Generic gTLD</label>
            </li>
            <li>
                <input class="filter" data-filter=".ngTLD" data-type="ngTLD" type="radio" name="radioButton" id="radio7">
                <label class="radio-label" for="radio7">New ngTLD</label>
            </li>
            </ul>
        </div>
        <div class="cd-filter-block">
            <h4>Extensions</h4>
            <ul class="cd-filter-content cd-filters list">
            <li>
                <input class="filter" data-filter=".com" type="checkbox" id="checkbox1">
                <label class="checkbox-label" for="checkbox1">.com</label>
            </li>
            <li>
                <input class="filter" data-filter=".tech" type="checkbox" id="checkbox2">
                <label class="checkbox-label" for="checkbox2">.tech</label>
            </li>
            <li>
                <input class="filter" data-filter=".org" type="checkbox" id="checkbox3">
                <label class="checkbox-label" for="checkbox3">.org</label>
            </li>
            <li>
                <input class="filter" data-filter=".bank" type="checkbox" id="checkbox4">
                <label class="checkbox-label" for="checkbox4">.bank</label>
            </li>
            </ul>
        </div>
        <div class="cd-filter-block">
            <h4>Level Price</h4>
            <ul class="cd-filter-content cd-filters list">
            <li>
                <input class="filter" data-filter=".promotion" type="checkbox" id="checkbox5">
                <label class="checkbox-label" for="checkbox5">Promotion</label>
            </li>
            <li>
                <input class="filter" data-filter=".premium" type="checkbox" id="checkbox6">
                <label class="checkbox-label" for="checkbox6">Premium</label>
            </li>
            <li>
                <input class="filter" data-filter=".silver" type="checkbox" id="checkbox7">
                <label class="checkbox-label" for="checkbox7">Silver</label>
            </li>
            </ul>
        </div>
        <div class="cd-filter-block">
            <h4>Currency</h4>
            <ul class="cd-filter-content cd-filters list">
            <li>
                <input class="filter" data-filter=".usd" type="radio" name="radioButton" id="radio1">
                <label class="radio-label" for="radio1">USD</label>
            </li>
            <li>
                <input class="filter" data-filter=".euro" type="radio" name="radioButton" id="radio2">
                <label class="radio-label" for="radio2">EURO</label>
            </li>
            <li>
                <input class="filter" data-filter=".cny" type="radio" name="radioButton" id="radio3">
                <label class="radio-label" for="radio3">CNY</label>
            </li>
            </ul>
        </div>
        <div class="cd-filter-block">
            <h4>Category</h4>
            <div class="cd-filter-content">
            <div class="cd-select cd-filters">
                <select class="filter" name="selectThis" id="selectThis">
                <option value="">Select Category</option>
                <option value=".technology">Technology</option>
                <option value=".professional">Professional</option>
                <option value=".industry">Industry</option>
                <option value=".educacion">Educación</option>
                </select>
            </div>
            </div>
        </div>
        </form>
        <a href="#0" class="cd-close">Close</a>
    </div>
    <a href="#0" class="cd-filter-trigger"> Filters</a>
    </main>
    <!-- 
    *******************
    SERVICES  
    ******************* 
    -->
    <section class="services classic sec-normal overlay item6">
    <div class="container">
        <div class="service-wrap">
        <div class="row">
            <div class="col-sm-12 text-center">
            <h2 class="section-heading text-white">Resell more than just Domains</h2>
            <p class="section-subheading text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
            <div class="col-sm-12 col-md-4">
            <div class="service-section">
                <img src="{% static 'fonts/svg/email.svg' %}" height="60" alt="">
                <div class="title">Business Email Solutions</div>
                <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident dolor 
                </p>
                <a href="" class="btn btn-default-green">Read more</a>
            </div>
            </div>
            <div class="col-sm-12 col-md-4">
            <div class="service-section">
                <img src="{% static 'fonts/svg/security.svg' %}" height="60" alt="">
                <div class="title">SSL Certificates</div>
                <p class="subtitle">
                Duis aute irure dolor in reprehenderit in voluptate velit  
                </p>
                <a href="" class="btn btn-default-green">Read more</a>
            </div>
            </div>
            <div class="col-sm-12 col-md-4">
            <div class="service-section">
                <div class="plans badge feat bg-green">Safe panel</div> 
                <img src="{% static 'fonts/svg/privacy.svg' %}" height="60" alt="">
                <div class="title">Privacy Protect</div>
                <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident voluptate
                </p>
                <a href="" class="btn btn-default-green">Read more</a>
            </div>
            </div>
            <div class="col-sm-12 col-md-4">
            <div class="service-section">
                <div class="plans badge feat bg-grey">Cloud</div> 
                <img src="{% static 'fonts/svg/cloudfiber.svg' %}" height="60" alt="">
                <div class="title">Web Hosting</div>
                <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident dolor 
                </p>
                <a href="" class="btn btn-default-green">Read more</a>
            </div>
            </div>
            <div class="col-sm-12 col-md-4">
            <div class="service-section">
                <img src="{% static 'fonts/svg/center.svg' %}" height="60" alt="">
                <div class="title">WHMCS Integrations</div>
                <p class="subtitle">
                Duis aute irure dolor in reprehenderit in voluptate velit  
                </p>
                <a href="" class="btn btn-default-green">Read more</a>
            </div>
            </div>
            <div class="col-sm-12 col-md-4">
            <div class="service-section">
                <img src="{% static 'fonts/svg/browser.svg' %}" height="60" alt="">
                <div class="title">Control Panel</div>
                <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident voluptate
                </p>
                <a href="" class="btn btn-default-green">Read more</a>
            </div>
            </div>
        </div>
        </div>  
    </div>
    </section>
    <!-- 
    *******************
    PRICING TABLES   
    ******************* 
    -->
    <section class="sec-normal sec-bg1">
    <div class="best-plans pricing classic">
        <div class="container">
        <div class="row">
            <div class="col-sm-12">
            <h2 class="section-heading">Your Domain Reselling Business</h2><br>
            <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn p-3 border-0 active">
                <input type="radio" name="options" id="option1" checked> All Domains
                </label>
                <label class="btn p-3 border-0">
                <input type="radio" name="options" id="option2"> ccTLD
                </label>
                <label class="btn p-3 border-0">
                <input type="radio" name="options" id="option3"> gTLD
                </label>
                <label class="btn p-3 border-0">
                <input type="radio" name="options" id="option4"> ngTLD
                </label>
            </div>
            </div>
            <div class="col-sm-12">
            <div class="table-responsive-lg">
                <table class="table compare mt-5">
                <thead>
                    <tr>
                    <td class="bb-green title">Popular Extensions</td>
                    <td class="bb-green title">Pack I</td>
                    <td class="bb-green title">Pack II</td>
                    <td class="bb-green title">Pack III</td>
                    <td class="bb-green title">Availability</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td><div class="badge bg-green mr-1">PROMO</div> .com</td>
                    <td>$9.99</td>
                    <td>$14.99</td>
                    <td><span class="ltgh">$19.00</span>  <b class="c-green">$15.00</b></td>
                    <td><a href="" class="btn btn-default-green-fill">Register</a></td>
                    </tr>
                    <tr>
                    <td><div class="badge bg-green mr-1">NEW</div> .net</td>
                    <td>$12.23</td>
                    <td>$18.00</td>
                    <td>$21.00</td>
                    <td><a href="" class="btn btn-default-green-fill">Register</a></td>
                    </tr>
                    <tr>
                    <td><div class="badge bg-green mr-1">SALE</div> .info</td>
                    <td>$7.00</td>
                    <td>$12.00</td>
                    <td><i class="fas fa-times"></i></td>
                    <td><a href="" class="btn btn-default-green-fill">Register</a></td>
                    </tr>
                    <tr>
                    <td class="border-0">.Me</td>
                    <td class="border-0">$22.20</td>
                    <td class="border-0"><i class="fas fa-times"></i></td>
                    <td class="border-0"><i class="fas fa-times"></i></td>
                    <td class="border-0"><a href="" class="btn btn-default-green-fill">Register</a></td>
                    </tr>
                </tbody>
                </table>
            </div>
            </div>
        </div>
        </div>
    </div>
    </section>
    <!-- 
    *******************
    SMALL CONTACT FORM   
    ******************* 
    -->
    <section class="small-contact sec-normal pt-60">
    <div class="container">
        <div class="sec-main sec-bg1">
        <div class="row">
            <div class="col-md-4">
            <h4 class="subtitle">Australia</h4>
            <p>HeadQuarters: No.02 - 399-0<br> Lorem Street City</p>
            <a class="golink text-dark" href="tel:+000111222333">+80 234 111 2233</a><br>
            <a class="golink text-dark" href="mailto:support@cloudy.com">support@cloudy.com</a>
            </div>
            <div class="col-md-4">
            <h4 class="subtitle">Portugal</h4>
            <p>Branch: No.22 - 129-0 <br>Lorem Street City</p>
            <a class="golink text-dark" href="tel:+000111222333">+351 234 111 233</a><br>
            <a class="golink text-dark" href="mailto:support@cloudy.com">info@cloudy.com</a>
            </div>
            <div class="col-md-4 social">
            <div onclick="openNav()" class="btn btn-default-green-fill">Contact us now</div>
            <p>Follow social networks</p>
            <a href="" target="_blank"><i class="icon-facebook"></i></a>
            <a href="" target="_blank"><i class="icon-linkedin"></i></a>
            <a href="" target="_blank"><i class="icon-pinterest"></i></a>
            </div>
        </div>
        </div>
    </div>
    </section>
    <!-- 
    ************************** 
    FULL OVERLAY CONTACT
    ************************** 
    -->
    <div id="myNav" class="fullrock bg-helpdesk overlay-full">
    <a onclick="closeNav()" class="closebtn">
        <img src="{% static 'fonts/svg/close.svg' %}" class="closer" alt="">
    </a>
    <div class="fullrock-content">
        <section class="pb-100">
        <div class="register contact-us">
            <div class="container">
            <img src="{% static 'img/logo-light.svg' %}" alt="logo" class="logo-footer">
            <div class="row m-0 bg-opacity-green">
                <div class="col-md-12 col-lg-4">
                <div class="form-contact">
                    <i class="icon-helpdesk support"></i>
                    <h3 class="subtitle">We will help you to choose the best plan!</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    <div class="info">
                    <a href="tel:+000111222333">+80 234 111 2233</a><br>
                    <a href="mailto:support@cloudy.com">support@cloudy.com</a>
                    </div>
                </div>
                </div>
                <div class="col-md-12 col-lg-8 sec-bg1">
                <div class="form-contact">
                    <div class="subtitle">We will help you to choose the best plan!</div>
                    <form id="contactForm" class="comments-form">
                    <input id="name" type="text" name="name" placeholder="Name" class="input" required>
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                        <input id="email" type="email" name="email" placeholder="E-mail" class="input" required>
                        </div>
                        <div class="col-md-12 col-lg-6">
                        <input id="phone" type="number" name="phone" placeholder="Number" class="input" required>
                        </div>
                    </div>
                    <textarea id="message" rows="4" name="comment" class="input comment" placeholder="Comment..."></textarea>
                    <div class="text-right text-xs-center">
                        <input id="form-submit" type="submit" class="btn btn-default-green-fill float-left" value="Submit">
                    </div>
                    <div id="msgSubmit" class="h4 text-right hidden"></div>
                    </form>
                </div>
                </div>
            </div>
            </div>
        </div>
        </section>
    </div>
    </div>
{% endblock  %}