{% extends 'base.html' %}
{% block title %}{% endblock title %}
{% block body %}
<!-- 
*******************
BANNER
******************* 
-->
<div class="top-header item1 overlay">
    <div class="container">
        <div class="row">
        <div class="col-sm-12 col-md-5 col-lg-4">
            <div class="wrapper">
            <div class="heading">Cloud Reseller</div>
            <div class="subheading">
                <a href="index.html" class="link">home</a> <i class="fas fa-star"></i>
                <a href="#" class="link">pages</a> <i class="fas fa-star"></i>
                <a href="services.html" class="link active">reseller</a>
            </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-7 col-lg-8">
            <div class="specs float-right">
            <div class="">
                <img src="fonts/svg/preferences.svg" height="42" alt="">
                <p>Easy Setup</p>
            </div>
            <div class="">
                <img src="fonts/svg/tea.svg" height="42" alt="">
                <p>Free Migration</p>
            </div>
            <div class="">
                <img src="fonts/svg/solution.svg" height="42" alt="">
                <p>+400 Apps</p>
            </div>
            <div class="">
                <img src="fonts/svg/thumbup.svg" height="42" alt="">
                <p>Club Advantage</p>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <!-- 
    *******************
    PRICING TABLES   
    ******************* 
    -->
    <section class="sec-up">
    <div class="best-plans pricing classic">
        <div class="container">
        <div class="sec-main sec-bg1">
            <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive-lg">
                <table class="table">
                    <thead>
                    <tr>
                        <td></td>
                        <td>
                        <div class="title">Basic</div>
                        <div class="price"><sup>$</sup>3.66<span class="period">/mo</span></div>
                        <div class="plans badge bg-grey">Renews $3.66 /mo</div>
                        <div class="info">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</div>
                        <a href="" class="btn btn-default-green-fill">Buy Now</a><br>
                        </td>
                        <td>
                        <div class="title">Medium</div>
                        <div class="price"><sup>$</sup>9.90<span class="period">/mo</span></div>
                        <div class="plans badge bg-grey">Renews $9.90 /mo</div>
                        <div class="info">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</div>
                        <a href="" class="btn btn-default-green-fill">Buy Now</a>
                        </td>
                        <td>
                        <div class="title">Top</div>
                        <div class="price"><sup>$</sup>14.00<span class="period">/mo</span></div>
                        <div class="plans badge bg-grey">Renews $17.02 /mo</div>
                        <div class="info">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</div>
                        <a href="" class="btn btn-default-green-fill">Buy Now</a>
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                        <div class="title-table" data-toggle="tooltip" data-placement="top" title="" data-original-title="I must explain to you">Disk Space
                        </div>
                        </td>
                        <td>10GB</td>
                        <td>Unlimited</td>
                        <td>Unlimited</td>
                    </tr>
                    <tr>
                        <td>
                        <div id="element" class="title-table" data-toggle="tooltip" data-placement="top" title="" data-original-title="I must explain to you">Bandwidth
                        </div>
                        </td>
                        <td>40GB</td>
                        <td>60GB</td>
                        <td>Unlimited</td>
                    </tr>
                    <tr>
                        <td class="title-table">Email Accounts</td>
                        <td>Unlimited</td>
                        <td>Unlimited</td>
                        <td>Unlimited</td>
                    </tr>
                    <tr>
                        <td class="title-table">FTP account</td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                        <td class="title-table">Subdomains</td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                        <td class="title-table">Free Daily Backups</td>
                        <td><i class="fas fa-times"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                        <td class="title-table">24x7 Support</td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                        <td class="title-table">Control Panel</td>
                        <td>cPanel</td>
                        <td>cPanel</td>
                        <td>cPanel</td>
                    </tr>
                    <tr>
                        <td class="border-0"></td>
                        <td><a href="" class="btn btn-default-green-fill">Buy Now</a></td>
                        <td><a href="" class="btn btn-default-green-fill">Buy Now</a></td>
                        <td><a href="" class="btn btn-default-green-fill">Buy Now</a></td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </section>
    <!-- 
    *******************
    WHY CHOOSE CLOUDY 
    ******************* 
    -->
    <section class="services classic sec-normal mt-150 overlay item3">
    <div class="container">
        <div class="service-wrap">
        <div class="row">
            <div class="col-sm-12 text-center">
            <h2 class="section-heading text-white">Why choose Cloud Reseller</h2>
            <p class="section-subheading text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
            <div class="col-sm-12 col-md-4">
            <div class="service-section">
                <img src="fonts/svg/wink.svg" height="60" alt="">
                <div class="title">Free Account</div>
                <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident dolor 
                </p>
                <a href="" class="btn btn-default-green">Read more</a>
            </div>
            </div>
            <div class="col-sm-12 col-md-4">
            <div class="service-section">
                <img src="fonts/svg/phone.svg" height="60" alt="">
                <div class="title">On-call Support</div>
                <p class="subtitle">
                Duis aute irure dolor in reprehenderit in voluptate velit  
                </p>
                <a href="" class="btn btn-default-green">Read more</a>
            </div>
            </div>
            <div class="col-sm-12 col-md-4">
            <div class="service-section">
                <img src="fonts/svg/email.svg" height="60" alt="">
                <div class="title">PRO Email Included</div>
                <p class="subtitle">
                Duis aute irure dolor in reprehenderit in voluptate velit  
                </p>
                <a href="" class="btn btn-default-green">Read more</a>
            </div>
            </div>
            <div class="col-sm-12 col-md-4">
            <div class="service-section">
                <div class="plans badge feat bg-green">Softaculous</div> 
                <img src="fonts/svg/add.svg" height="60" alt="">
                <div class="title">Easy 1-click-installer</div>
                <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident voluptate
                </p>
                <a href="" class="btn btn-default-green">Read more</a>
            </div>
            </div>
            <div class="col-sm-12 col-md-4">
            <div class="service-section">
                <div class="plans badge feat bg-green">Control Panel</div> 
                <img src="fonts/svg/window.svg" height="60" alt="">
                <div class="title">Free WHM & cPanel</div>
                <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident dolor 
                </p>
                <a href="" class="btn btn-default-green">Read more</a>
            </div>
            </div>
            <div class="col-sm-12 col-md-4">
            <div class="service-section">
                <img src="fonts/svg/cloudmanaged.svg" height="60" alt="">
                <div class="title">Perfomance Optimized</div>
                <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident voluptate
                </p>
                <a href="" class="btn btn-default-green">Read more</a>
            </div>
            </div>
        </div>
        </div>  
    </div>
    </section>
    <!-- 
    *******************
    SPECIFICATIONS 
    ******************* 
    -->
    <section class="sec-normal sec-bg1 sec-grad-grey">
    <div class="best-plans pricing classic">
        <div class="container">
        <div class="row">
            <div class="col-sm-12">
            <h2 class="section-heading">Cloud Reseller Technical Specifications</h2>
            <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
            <div class="col-sm-12">
            <div class="table-responsive-lg">
                <table class="table sample mt-5">
                <thead>
                    <tr>
                    <td>
                        <span class="title">Software </span> <span class="badge bg-green">CORE</span>

                    </td>
                    <td>
                        <div class="title">Databases</div>
                    </td>
                    <td>
                        <div class="title">Software</div>
                    </td>
                    <td>
                        <div class="title">Security</div>
                    </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>
                        <div class="title-table" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">CloudLinux 6.9
                        </div>
                    </td>
                    <td>MySQL 5.6</td>
                    <td>WordPress</td>
                    <td>Password protected folders</td>
                    </tr>
                    <tr>
                    <td>
                        <div class="title-table" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Perl
                        </div>
                    </td>
                    <td>phpMyAdmin 4.6.6</td>
                    <td>Joomla, Prestashop</td>
                    <td>Hotlink Protection</td>
                    </tr>
                    <tr>
                    <td class="title-table">Python 2.6.6</td>
                    <td>FTPES Supported</td>
                    <td>Zend Engine</td>
                    <td>Leech Protection</td>
                    </tr>
                    <tr>
                    <td class="title-table">PHP 5.5/5.6/7.0</td>
                    <td>MSSQL Stored Procedures</td>
                    <td>ionCube Loader </td>
                    <td>Clam AV Antivirus</td>
                    </tr>
                    <tr>
                    <td class="border-0"><a href="" class="btn btn-default-green">All Specs</a></td>
                    <td class="border-0"><a href="" class="btn btn-default-green">All Specs</a></td>
                    <td class="border-0"><a href="" class="btn btn-default-green">All Specs</a></td>
                    <td class="border-0"><a href="" class="btn btn-default-green">All Specs</a></td>
                    </tr>
                </tbody>
                </table>
            </div>
            </div>
        </div>
        </div>
    </div>
    </section>
    <!-- 
    *******************
    FAQ
    ******************* 
    -->
    <section class="sec-normal">
    <div class="faq">
        <div class="container">
        <div class="sec-main sec-bg1">
            <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <h2 class="section-heading">Cloud Reseller FAQs</h2>
                <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
            <div class="col-sm-12">
                <div class="accordion faq pt-5">
                <div class="panel-wrap">
                    <div class="panel-title">
                    <span>What exactly is Reseller Hosting?</span>
                    <div class="float-right">
                        <i class="fa fa-plus"></i>
                        <i class="fa fa-minus"></i>
                    </div>
                    </div>
                    <div class="panel-collapse">
                    <div class="wrapper-collapse">
                        <div class="info">
                        <ul class="list">
                            <li>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </li>
                        </ul>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="panel-wrap">
                    <div class="panel-title">
                    <span>Is there a brandable control panel?</span>
                    <div class="float-right">
                        <i class="fa fa-plus"></i>
                        <i class="fa fa-minus"></i>
                    </div>
                    </div>
                    <div class="panel-collapse">
                    <div class="wrapper-collapse">
                        <div class="info">
                        <ul class="list">
                            <li>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </li>
                        </ul>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="panel-wrap">
                    <div class="panel-title">
                    <span>Can my Linux Reseller Hosting plan be upgraded when needed?</span>
                    <div class="float-right">
                        <i class="fa fa-plus"></i>
                        <i class="fa fa-minus"></i>
                    </div>
                    </div>
                    <div class="panel-collapse">
                    <div class="wrapper-collapse">
                        <div class="info">
                        <ul class="list">
                            <li>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </li>
                        </ul>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="panel-wrap">
                    <div class="panel-title">
                    <span>I am not sure about the plan, can I change it later on?</span>
                    <div class="float-right">
                        <i class="fa fa-plus"></i>
                        <i class="fa fa-minus"></i>
                    </div>
                    </div>
                    <div class="panel-collapse">
                    <div class="wrapper-collapse">
                        <div class="info">
                        <ul class="list">
                            <li>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </li>
                        </ul>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>  
        </div>
    </div>
    </section>
{% endblock body %}