{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock title %}
{% block body %}
    <!-- 
    *******************
    BANNER
    ******************* 
    -->
<div class="top-header overlay item5">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-7 col-lg-8">
              <div class="wrapper">
                <div class="heading">Blog One Column</div>
                <div class="subheading">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-4">
              <div class="wrapper float-right pt-2 w-100 text-center">
                <div class="subheading">
                  <a href="index.html" class="link">home</a> <i class="fas fa-star"></i>
                  <a href="#" class="link">pages</a> <i class="fas fa-star"></i>
                  <a href="services.html" class="link active">blog one column</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 
      *******************
      BLOG ONE COLUMN
      ******************* 
      -->
      <section class="shopping blog mb-80">
        <div class="container">
          <div class="row">
            <!-- sidebar -->
            <div class="col-md-4 shopping">
              <aside class="sidebar b-solid">
                <form action="#" class="search-group">
                  <div class="cd-filter-block">
                    <div class="cd-filter-content">
                      <input type="text" id="myInput" name="search" placeholder="Search product" title="Type in a name">
                      <a href="" class="icon-zoom"></a>
                    </div>
                  </div>
                </form>
                <div class="posts">
                  <div class="tabs">
                    <div class="archives">
                      <div class="heading active">My Shoping Cart</div>
                      <div class="line active"></div>
                      <div class="carting">
                        <table class="table m-top">
                          <tbody>
                            <tr>
                              <td><span class="wp-close"><i class="far fa-trash-alt"></i></span></td>
                              <td class="title">Computer <br><span>$1.231.00</span></td>
                              <td><img class="img" src="{% static 'img/eshop/product7' %}.jpg" alt=""></td>
                            </tr>
                            <tr>
                              <td><span class="wp-close"><i class="far fa-trash-alt"></i></span></td>
                              <td class="title">Smartphone <br><span>$776.00</span></td>
                              <td><img class="img" src="{% static 'img/eshop/product1.jpg' %}" alt=""></td>
                            </tr>
                            <tr>
                              <td class="section-bar" colspan="3">
                                <span class="float-right check">Total: $2.007.00</span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="row">
                          <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6">
                            <a href="" class="btn btn-block btn-default"> View Cart</a>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6">
                            <a href="" class="btn btn-block btn-default-green-fill"> Checkout</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tabs-header">
                      <ul class="list">
                        <li class="active">Best</li>
                        <li>popular</li>
                        <li>Recommended</li>
                      </ul>
                    </div>
                    <div class="tabs-content">
                      <div class="tabs-item active">
                        <div class="item-wrap">
                          <a href=""><img class="img" src="{% static 'img/eshop/product3.jpg' %}" alt=""></a>
                          <div class="heading-article"><a href="">Computer</a></div>
                          <div class="value"><a href=""><del>$1.477.00</del> <br><span>$1.231.00</span></a></div>
                        </div>
                        <div class="item-wrap clear">
                          <a href=""><img class="img" src="{% static 'img/eshop/product2.jpg' %}" alt=""></a>
                          <div class="heading-article"><a href="">Tablet</a></div>
                          <div class="value"><a href=""><del>$577.00</del> <br><span>$426.00</span></a></div>
                        </div>
                        <div class="item-wrap clear">
                          <a href=""><img class="img" src="{% static 'img/eshop/product5.jpg' %}" alt=""></a>
                          <div class="heading-article"><a href="">Tablet</a></div>
                          <div class="value"><a href=""><del>$489.00</del> <br><span>$356.00</span></a></div>
                        </div>
                      </div>
                      <div class="tabs-item">
                        <div class="item-wrap">
                          <a href=""><img class="img" src="{% static 'img/eshop/product1.jpg' %}" alt=""></a>
                          <div class="heading-article"><a href="">Smartphone</a></div>
                          <div class="value"><a href=""><del>$589.00</del> <br><span>$456.85</span></a></div>
                        </div>
                        <div class="item-wrap clear">
                          <a href=""><img class="img" src="{% static 'img/eshop/product9.jpg' %}" alt=""></a>
                          <div class="heading-article"><a href="">Tablet</a></div>
                          <div class="value"><a href=""><del>$421.00</del> <br><span>$399.00</span></a></div>
                        </div>
                        <div class="item-wrap clear">
                          <a href=""><img class="img" src="{% static 'img/eshop/product7.jpg' %}" alt=""></a>
                          <div class="heading-article"><a href="">Computer</a></div>
                          <div class="value"><a href=""><del>$1.189.00</del> <br><span>$1.015.99</span></a></div>
                        </div>
                      </div>
                      <div class="tabs-item">
                        <div class="item-wrap">
                          <a href=""><img class="img" src="{% static 'img/eshop/product7.jpg' %}" alt=""></a>
                          <div class="heading-article"><a href="">Computer</a></div>
                          <div class="value"><a href=""><del>$1.489.00</del> <br><span>$1.231.85</span></a></div>
                        </div>
                        <div class="item-wrap clear">
                          <a href=""><img class="img" src="{% static 'img/eshop/product2.jpg' %}" alt=""></a>
                          <div class="heading-article"><a href="">Tablet</a></div>
                          <div class="value"><a href=""><del>$889.00</del> <br><span>$772.49</span></a></div>
                        </div>
                        <div class="item-wrap clear">
                          <a href=""><img class="img" src="{% static 'img/eshop/product8.jpg' %}" alt=""></a>
                          <div class="heading-article"><a href="">Smartphone</a></div>
                          <div class="value"><a href=""><del>$699.00</del> <br><span>$626.00</span></a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="categories clear">
                  <div class="heading active">Product Categories</div>
                  <div class="line active"></div>
                  <div class="heading"><a href="">PC & iMac</a> <span>66</span></div>
                  <div class="line"></div>
                  <div class="heading"><a href="">Laptop</a> <span>45</span></div>
                  <div class="line"></div>
                  <div class="heading"><a href="">iPhone</a> <span>33</span></div>
                  <div class="line"></div>
                  <div class="heading"><a href="">Macbook</a> <span>106</span></div>
                  <div class="line"></div>
                  <div class="heading"><a href="">Tablets & iPad</a> <span>13</span></div>
                  <div class="line"></div>
                  <div class="heading"><a href="">Smartphone</a> <span>22</span></div>
                </div>
                <div class="tags">
                  <div class="heading active">Product tags</div>
                  <div class="line active"></div>
                  <div class="btn-group-toggle" data-toggle="buttons">
                    <label class="btn pl-0 border-0 c-grey">
                      <input type="radio" name="options" id="option1" checked=""> Computers
                    </label>
                    <label class="btn pl-0 border-0 c-grey">
                      <input type="radio" name="options" id="option2"> Tablets
                    </label>
                    <label class="btn pl-0 border-0 c-grey active">
                      <input type="radio" name="options" id="option3"> Motherboard
                    </label>
                    <label class="btn pl-0 border-0 c-grey">
                      <input type="radio" name="options" id="option5"> Smartphone
                    </label>
                    <label class="btn pl-0 border-0 c-grey">
                      <input type="radio" name="options" id="option6"> SSD Performance
                    </label>
                    <label class="btn pl-0 border-0 c-grey">
                      <input type="radio" name="options" id="option7"> Hard Drive
                    </label>
                    <label class="btn pl-0 border-0 c-grey">
                      <input type="radio" name="options" id="option8"> Laptop
                    </label>
                  </div>
                  <br>
                </div>
              </aside>
            </div>
            <div class="col-md-8">
              <div class="wrap-blog">
                <div class="row">
                  <div class="col-md-12 col-lg-12">
                    <div class="blogg1">
                      <div class="action">
                        <div class="metatag">
                          <div class="kudos">
                            <a href="#"><i class="icon-favorite pl-0"></i> 33</a>
                            <a href="#"><i class="icon-talk"></i> 12</a>
                            <a href="#"><i class="icon-thumbup"></i> 99</a>
                          </div>
                          <div class="rating">
                            <i class="icon-star c-green"></i>
                            <i class="icon-star c-green"></i>
                            <i class="icon-star c-green"></i>
                            <i class="icon-star c-green"></i>
                            <i class="icon-star"></i>
                          </div>
                        </div>
                      </div>
                      <img src="{% static 'img/topbanner01.jpg' %}" alt="photo" class="img-responsive">
                      <div class="wrapper">
                        <div class="heading blog"><a href="#">But i must explain to you how all</a></div>
                        <div class="blog-info">
                          On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain...
                        </div>
                        <hr>
                        <div class="text-blog">
                          <i class="icon-calendar"></i>
                          <span class="pl-2 pr-4"> April 11, 2018</span>
                          <i class="icon-man"></i>
                          <span class="pl-2"> by Philips</span>
                        </div>
                        <div class="infos">
                          <i class="fa fa-thumbs-o-up"></i>
                          <span>980</span>
                          <i class="fa fa-comments-o"></i>
                          <span>79</span>
                        </div>
                        <a href="#" class="btn btn-default-green-fill">Continue reading</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-lg-12">
                    <div class="blogg1">
                      <div class="action">
                        <div class="metatag">
                          <div class="kudos">
                            <a href="#"><i class="icon-favorite pl-0"></i> 33</a>
                            <a href="#"><i class="icon-talk"></i> 12</a>
                            <a href="#"><i class="icon-thumbup"></i> 29</a>
                          </div>
                          <div class="rating">
                            <i class="icon-star c-green"></i>
                            <i class="icon-star c-green"></i>
                            <i class="icon-star c-green"></i>
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                          </div>
                        </div>
                      </div>
                      <img src="{% static 'img/topbanner04.jpg' %}" alt="photo" class="img-responsive">
                      <div class="wrapper">
                        <div class="heading blog"><a href="#">But i must explain to you how all</a></div>
                        <div class="blog-info">
                          On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain...
                        </div>
                        <hr>
                        <div class="text-blog">
                          <i class="icon-calendar"></i>
                          <span class="pl-2 pr-4"> April 11, 2018</span>
                          <i class="icon-man"></i>
                          <span class="pl-2"> by Philips</span>
                        </div>
                        <div class="infos">
                          <i class="fa fa-thumbs-o-up"></i>
                          <span>980</span>
                          <i class="fa fa-comments-o"></i>
                          <span>79</span>
                        </div>
                        <a href="#" class="btn btn-default-green-fill">Continue reading</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> 
{% endblock body %}