{% extends 'base.html' %}
{% load static %}
{% block title %}About Us{% endblock  %}
{% block body %}
<!-- 
*******************
BANNER
******************* 
-->
<div class="top-header overlay item5">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-7 col-lg-8">
              <div class="wrapper">
                <div class="heading">About us</div>
                <div class="subheading">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-4">
              <div class="wrapper float-right pt-2 w-100 text-center">
                <div class="subheading">
                  <a href="index.html" class="link">home</a> <i class="fas fa-star"></i>
                  <a href="#" class="link">pages</a> <i class="fas fa-star"></i>
                  <a href="services.html" class="link active">about us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 
      *******************
      WELCOME SECTION
      *******************
      -->
      <section class="h-services sec-normal sec-bg1">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h2 class="section-heading">Welcome to CLoudy 7 Digital Home</h2>
              <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="wrap-service">
                <i class="icon-flagpoint"></i>
                <div class="heading">Our Mission</div>
                <div class="text-info">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="wrap-service">
                <i class="icon-global"></i>
                <div class="heading">Our Vission</div>
                <div class="text-info">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 clear-sm">
              <div class="wrap-service">
                <i class="icon-goal"></i>
                <div class="heading">Our Strategy</div>
                <div class="text-info">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 
      *******************
      WHY CHOOSE CLOUDY 
      ******************* 
      -->
      <section class="services classic sec-normal">
        <div class="container">
          <div class="service-wrap">
            <div class="row">
              <div class="col-sm-12 text-center">
                <h2 class="section-heading">Why Choose Cloudy 7</h2>
                <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="service-section">
                  <i class="icon-infrastructure"></i>
                  <div class="title">Infrastructure</div>
                  <p class="subtitle">
                    Duis aute irure dolor in reprehenderit in voluptate velit  
                  </p>
                  <a href="" class="btn btn-default-green">Read more</a>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="service-section">
                  <i class="icon-led"></i>
                  <div class="title">Innovation</div>
                  <p class="subtitle">
                    Excepteur sint occaecat cupidatat non proident voluptate
                  </p>
                  <a href="" class="btn btn-default-green">Read more</a>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="service-section">
                  <div class="plans badge feat bg-green">24x7x365</div> 
                  <i class="icon-helpdesk"></i>
                  <div class="title">Support</div>
                  <p class="subtitle">
                    Excepteur sint occaecat cupidatat non proident dolor 
                  </p>
                  <a href="" class="btn btn-default-green">Read more</a>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </section>
      <!-- 
      *******************
      CASE STUDY
      ******************* 
      -->
      <section class="casestudy sec-normal sec-bg1">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3 study-img">
              <img src="{% static 'img/casestudy.jpg' %}" class="w-100" alt="company">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-9">
              <div class="slider-container slider-filter">
                <div class="slider-wrap">
                  <div class="swiper-container main-slider" data-autoplay="4000" data-touch="1" data-mouse="0" data-slides-per-view="responsive" data-loop="1" data-speed="1200" data-mode="horizontal" data-xs-slides="1" data-sm-slides="1" data-md-slides="1" data-lg-slides="1">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <h3 class="author">Matt Radford</h3>
                        <div class="content-info">
                          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi. Eaque ipsa quae ab illo inventore veritatis et quasi.</p>
                          <div>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</div>
                          ♡<em> President & Managing Director - Corporation</em>
                        </div>
                        <a href="" class="btn btn-default-green-fill ml-4">Case Study Download</a>
                      </div>
                      <div class="swiper-slide">
                        <h3 class="author">Michael Jones</h3>
                        <div class="content-info">
                          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi. Eaque ipsa quae ab illo inventore veritatis et quasi.</p>
                          <div>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</div>
                          ♡<em> Executive Director - Agency</em>
                        </div>
                        <a href="" class="btn btn-default-green-fill ml-4">Case Study Download</a>
                      </div>
                    </div>
                    <div class="pagination vertical-mode pagination-index"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> 
      <!-- 
      *******************
      TEAM
      *******************
      -->
      <section class="mt-80 pt-80 sec-grad-green">
        <div class="team">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-12 text-center">
                <h2 class="section-heading">Amazing Team Cloudy 7</h2>
                <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="wrapper">
                  <div class="img-section">
                    <img src="{% static 'img/team01.jpg' %}" alt="team" class="img-responsive">
                    <div class="soc-icons-wrap">
                      <div class="icons">
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-google-plus-g"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a> 
                        <a href=""><i class="fab fa-linkedin-in"></i></a> 
                      </div>
                    </div>
                  </div>
                  <div class="team-info">
                    <h3 class="heading">John T. Erikson</h3>
                    <div class="subheading">CTO - Full Stack</div>
                    <div class="desc">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit 
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="wrapper">
                  <div class="img-section">
                    <img src="{% static 'img/team02.jpg' %}" alt="team" class="img-responsive">
                    <div class="soc-icons-wrap">
                      <div class="icons">
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-google-plus-g"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a> 
                        <a href=""><i class="fab fa-linkedin-in"></i></a> 
                      </div>
                    </div>
                  </div>
                  <div class="team-info">
                    <h3 class="heading">Walter T. Adams</h3>
                    <div class="subheading">Font-End Developer</div>
                    <div class="desc">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="wrapper">
                  <div class="img-section">
                    <img src="{% static 'img/team03.jpg' %}" alt="team" class="img-responsive">
                    <div class="soc-icons-wrap">
                      <div class="icons">
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-google-plus-g"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a> 
                        <a href=""><i class="fab fa-linkedin-in"></i></a> 
                      </div>
                    </div>
                  </div>
                  <div class="team-info">
                    <h3 class="heading">Verna B. Ahmed</h3>
                    <div class="subheading">Senior Marketing</div>
                    <div class="desc">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> 
{% endblock  %}