{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock  %}
{% block body %}
*******************
BANNER
******************* 
-->
<div class="top-header overlay bg-team">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="wrapper">
          <div class="heading">Our team</div>
          <div class="subheading">
            <a href="index.html" class="link">home</a> <i class="fas fa-star"></i>
            <a href="#" class="link">pages</a> <i class="fas fa-star"></i>
            <a href="team.html" class="link active">our team</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 
*******************
TEAM - STYLE 01
****************** 
-->
<section class="sec-normal sec-bg1">
  <div class="team-about classic">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 text-center">
          <h2 class="section-heading">Amazing Team - Contact us</h2>
          <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 pt-5">
          <h3 class="heading">John T. Erikson</h3>
          <div class="subheading">CTO - Full Stack</div>
          <div class="wrapper">
            <img src="{% static 'img/team01.jpg' %}" alt="team" class="img-responsive">
            <div class="more-info">
              <h5>Nemo enim ipsam</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              <div class="soc-icons">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-linkedin-in"></i>
              </div>
              <div onclick="openNav()" class="btn btn-default-green-fill">Contact now</div>
            </div>
            
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 pt-5">
          <h3 class="heading">Walter T. Adams</h3>
          <div class="subheading">Font-End Developer</div>
          <div class="wrapper">
            <img src="{% static 'img/team02.jpg' %}" alt="team" class="img-responsive">
            <div class="more-info">
              <h5>Nemo enim ipsam</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              <div class="soc-icons">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-linkedin-in"></i>
              </div>
              <div onclick="openNav()" class="btn btn btn-default-green-fill">Contact now</div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 pt-5">
          <h3 class="heading">Verna B. Ahmed</h3>
          <div class="subheading">Senior Marketing</div>
          <div class="wrapper">
            <img src="{% static 'img/team03.jpg' %}" alt="team" class="img-responsive">
            <div class="more-info">
              <h5>Nemo enim ipsam</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              <div class="soc-icons">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-linkedin-in"></i>
              </div>
              <div onclick="openNav()" class="btn btn btn-default-green-fill">Contact now</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>  
<!-- 
*******************
TEAM - STYLE 02
****************** 
-->
<section class="sec-normal">
  <div class="team-about light modern">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 text-center">
          <h2 class="section-heading">Meet our cloudy 7 team members</h2>
          <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="wrapper">
            <img src="{% static 'img/team01.jpg' %}" alt="team" class="img-responsive">
            <div class="soc-icons">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-linkedin-in"></i>
            </div>
          </div>
          <div class="info">
            <h3 class="heading">John T. Erikson</h3>
            <div class="subheading">CTO - Full Stack</div>
            <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
            <div onclick="openNav()"  class="btn btn-default-green-fill">Choose department</div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="wrapper">
            <img src="{% static 'img/team02.jpg' %}" alt="team" class="img-responsive">
            <div class="soc-icons">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-linkedin-in"></i>
            </div>
          </div>
          <div class="info">
            <h3 class="heading">Walter T. Adams</h3>
            <div class="subheading">Font-End Developer</div>
            <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
            <div onclick="openNav()" class="btn btn-default-green-fill">Choose department</div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="wrapper">
            <img src="{% static 'img/team03.jpg' %}" alt="team" class="img-responsive">
            <div class="soc-icons">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-linkedin-in"></i>
            </div>
          </div>
          <div class="info">
            <h3 class="heading">Verna B. Ahmed</h3>
            <div class="subheading">Senior Marketing</div>
            <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
            <div onclick="openNav()" class="btn btn-default-green-fill">Choose department</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>  
<!-- 
*******************
TEAM - STYLE 03
******************* 
-->
<section class="team">
  <div class="container">
    <div class="sec-main sec-bg1">
      <div class="row">
        <div class="col-sm-12 col-md-12 text-center">
          <h2 class="section-heading">Amazing Team Cloudy 7</h2>
          <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="wrapper">
            <div class="img-section">
              <img src="{% static 'img/team01.jpg' %}" alt="team" class="img-responsive">
              <div class="soc-icons-wrap">
                <div class="icons">
                  <a href=""><i class="fab fa-facebook-f"></i></a>
                  <a href=""><i class="fab fa-google-plus-g"></i></a>
                  <a href=""><i class="fab fa-twitter"></i></a> 
                  <a href=""><i class="fab fa-linkedin-in"></i></a> 
                </div>
              </div>
            </div>
            <div class="team-info">
              <h3 class="heading">John T. Erikson</h3>
              <div class="subheading">CTO - Full Stack</div>
              <div class="desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit 
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="wrapper">
            <div class="img-section">
              <img src="{% static 'img/team02.jpg' %}" alt="team" class="img-responsive">
              <div class="soc-icons-wrap">
                <div class="icons">
                  <a href=""><i class="fab fa-facebook-f"></i></a>
                  <a href=""><i class="fab fa-google-plus-g"></i></a>
                  <a href=""><i class="fab fa-twitter"></i></a> 
                  <a href=""><i class="fab fa-linkedin-in"></i></a> 
                </div>
              </div>
            </div>
            <div class="team-info">
              <h3 class="heading">Walter T. Adams</h3>
              <div class="subheading">Font-End Developer</div>
              <div class="desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="wrapper">
            <div class="img-section">
              <img src="{% static 'img/team03.jpg' %}" alt="team" class="img-responsive">
              <div class="soc-icons-wrap">
                <div class="icons">
                  <a href=""><i class="fab fa-facebook-f"></i></a>
                  <a href=""><i class="fab fa-google-plus-g"></i></a>
                  <a href=""><i class="fab fa-twitter"></i></a> 
                  <a href=""><i class="fab fa-linkedin-in"></i></a> 
                </div>
              </div>
            </div>
            <div class="team-info">
              <h3 class="heading">Verna B. Ahmed</h3>
              <div class="subheading">Senior Marketing</div>
              <div class="desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 
************************** 
FULL OVERLAY CONTACT
************************** 
-->
<div id="myNav" class="fullrock bg-helpdesk overlay-full">
  <a onclick="closeNav()" class="closebtn">
    <img src="{% static 'fonts/svg/close.svg' %}" class="closer" alt="">
  </a>
  <div class="fullrock-content">
    <section class="pb-100">
      <div class="register contact-us">
        <div class="container">
          <img src="{% static 'img/logo-light.svg' %}" alt="logo" class="logo-footer">
          <div class="row sec-bx bg-opacity-green">
            <div class="col-md-12 col-lg-4">
              <div class="form-contact">
                <i class="icon-helpdesk support"></i>
                <h3 class="subtitle">We will help you to choose the best plan!</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                <div class="info">
                  <a href="tel:+000111222333">+80 234 111 2233</a><br>
                  <a href="mailto:support@cloudy.com">support@cloudy.com</a>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-8 sec-bg1">
              <div class="form-contact">
                <div class="subtitle">We will help you to choose the best plan!</div>
                <form id="contactForm" class="comments-form">
                  <div class="form-group">
                    <select class="form-control form-control-lg" id="exampleFormControlSelect1">
                      <option>Support</option>
                      <option>Billing</option>
                      <option>Press Kit</option>
                    </select>
                  </div>
                  <input id="name" type="text" name="name" placeholder="Name" class="input" required>
                  <div class="row">
                    <div class="col-md-12 col-lg-6">
                      <input id="email" type="email" name="email" placeholder="E-mail" class="input" required>
                    </div>
                    <div class="col-md-12 col-lg-6">
                      <input id="phone" type="number" name="phone" placeholder="Number" class="input" required>
                    </div>
                  </div>
                  <textarea id="message" rows="4" name="comment" class="input comment" placeholder="Comment..."></textarea>
                  <div class="text-right text-xs-center">
                    <input id="form-submit" type="submit" class="btn btn-default-purple float-left" value="Submit">
                  </div>
                  <div id="msgSubmit" class="h4 text-right hidden"></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

{% endblock  %}