{% extends 'base.html' %}
{% block title %}{% endblock  %}
{% block body %}
<!-- 
*******************
BANNER
******************* 
-->
<div class="top-header item1 overlay">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-7 col-lg-8">
              <div class="wrapper">
                <div class="heading">General Terms And Conditions</div>
                <div class="subheading">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-4">
              <div class="wrapper float-right pt-2 w-100 text-center">
                <div class="subheading">
                  <a href="index.html" class="link">home</a> <i class="fas fa-star"></i>
                  <a href="#" class="link">pages</a> <i class="fas fa-star"></i>
                  <a href="services.html" class="link active">legal</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 
      *******************
      LEGAL
      ******************* 
      -->
      <section class="shopping blog">
        <div class="container">
          <div class="row">
            <!-- sidebar -->
            <div class="col-md-12 col-lg-4 shopping">
              <aside id="sidebar" class="sidebar sec-bx">
                <form action="#" class="search-group">
                  <div class="cd-filter-block">
                    <div class="cd-filter-content">
                      <input type="text" id="myInput" name="search" placeholder="Search Legal" title="Type in a name">
                      <a href="" class="icon-zoom"></a>
                    </div>
                  </div>
                </form>
                <div class="menu categories clear">
                  <div class="heading"><a id="showall" class="active">All General Terms</a></div>
                  <div class="line"></div>
                  <div class="heading"><a class="showSingle" target="1">Servers Policies</a></div>
                  <div class="line"></div>
                  <div class="heading"><a class="showSingle" target="2">Privacy Policy</a></div>
                  <div class="line"></div>
                  <div class="heading"><a class="showSingle" target="3">Cookie Statement</a></div>
                  <div class="line"></div>
                  <div class="heading"><a class="showSingle" target="4">Legal</a></div>
                </div>
              </aside>
            </div>
            <div class="col-md-12 col-lg-8">
              <div class="wrap-blog">
                <div class="row">
                  <div class="col-md-12 col-lg-12">
                    <div class="blogg1 sec-bx cnt">
                      <div id="div1" class="wrapper targetDiv">
                        <h3>Servers Policies</h3>
                        <div class="heading blog"><a href="#">But i must explain to you how all</a></div>
                        <div class="blog-info">
                          <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain</p>
                          <p>So blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain</p>
                        </div>
                        <div class="accordion faq">
                          <div class="panel-wrap">
                            <div class="panel-title">
                              <span>What is Cloud Hosting?</span>
                              <div class="float-right">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                              </div>
                            </div>
                            <div class="panel-collapse">
                              <div class="wrapper-collapse">
                                <div class="info">
                                  <ul class="list">
                                    <li>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="panel-wrap">
                            <div class="panel-title">
                              <span>Does Shared Web Hosting include Email Hosting as well?</span>
                              <div class="float-right">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                              </div>
                            </div>
                            <div class="panel-collapse">
                              <div class="wrapper-collapse">
                                <div class="info">
                                  <ul class="list">
                                    <li>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="panel-wrap">
                            <div class="panel-title">
                              <span>Is an upgrade possible from my current Linux Shared Hosting Plan?</span>
                              <div class="float-right">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                              </div>
                            </div>
                            <div class="panel-collapse">
                              <div class="wrapper-collapse">
                                <div class="info">
                                  <ul class="list">
                                    <li>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="panel-wrap">
                            <div class="panel-title">
                              <span>Is there any money back guarantee with the Linux Web Hosting services?</span>
                              <div class="float-right">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                              </div>
                            </div>
                            <div class="panel-collapse">
                              <div class="wrapper-collapse">
                                <div class="info">
                                  <ul class="list">
                                    <li>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
  
  
                    <div class="blogg1 sec-bx cnt">
                      <div id="div2" class="wrapper targetDiv">
                        <h3>Privacy Policy</h3>
                        <div class="heading blog"><a href="#">Bound to ensue and equal blame</a></div>
                        <div class="blog-info">
                          <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail.</p>
                          <p>So blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will.</p>
                        </div><br>
                        <img src="{% static 'img/topbanner01.jpg' %}" alt="photo" class="img-responsive">
                        <div class="blog-info pt-5">
                          <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain<p>
                        </div>
                        <div class="accordion faq">
                          <div class="panel-wrap">
                            <div class="panel-title">
                              <span>What is Cloud Hosting?</span>
                              <div class="float-right">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                              </div>
                            </div>
                            <div class="panel-collapse">
                              <div class="wrapper-collapse">
                                <div class="info">
                                  <ul class="list">
                                    <li>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="panel-wrap">
                            <div class="panel-title">
                              <span>Does Shared Web Hosting include Email Hosting as well?</span>
                              <div class="float-right">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                              </div>
                            </div>
                            <div class="panel-collapse">
                              <div class="wrapper-collapse">
                                <div class="info">
                                  <ul class="list">
                                    <li>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="panel-wrap">
                            <div class="panel-title">
                              <span>Is an upgrade possible from my current Linux Shared Hosting Plan?</span>
                              <div class="float-right">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                              </div>
                            </div>
                            <div class="panel-collapse">
                              <div class="wrapper-collapse">
                                <div class="info">
                                  <ul class="list">
                                    <li>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="panel-wrap">
                            <div class="panel-title">
                              <span>Is there any money back guarantee with the Linux Web Hosting services?</span>
                              <div class="float-right">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                              </div>
                            </div>
                            <div class="panel-collapse">
                              <div class="wrapper-collapse">
                                <div class="info">
                                  <ul class="list">
                                    <li>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
  
                    <div class="blogg1 sec-bx cnt">
                      <div id="div3" class="wrapper targetDiv">
                        <h3>Cookie Statement</h3>
                        <div class="heading blog"><a href="#">Bound to ensue and equal blame</a></div>
                        <div class="blog-info">
                          <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail.</p>
                          <p>So blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will.</p>
                        </div>
                        <div class="accordion faq">
                          <div class="panel-wrap">
                            <div class="panel-title">
                              <span>What is Cloud Hosting?</span>
                              <div class="float-right">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                              </div>
                            </div>
                            <div class="panel-collapse">
                              <div class="wrapper-collapse">
                                <div class="info">
                                  <ul class="list">
                                    <li>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="panel-wrap">
                            <div class="panel-title">
                              <span>Does Shared Web Hosting include Email Hosting as well?</span>
                              <div class="float-right">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                              </div>
                            </div>
                            <div class="panel-collapse">
                              <div class="wrapper-collapse">
                                <div class="info">
                                  <ul class="list">
                                    <li>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="panel-wrap">
                            <div class="panel-title">
                              <span>Is an upgrade possible from my current Linux Shared Hosting Plan?</span>
                              <div class="float-right">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                              </div>
                            </div>
                            <div class="panel-collapse">
                              <div class="wrapper-collapse">
                                <div class="info">
                                  <ul class="list">
                                    <li>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="panel-wrap">
                            <div class="panel-title">
                              <span>Is there any money back guarantee with the Linux Web Hosting services?</span>
                              <div class="float-right">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                              </div>
                            </div>
                            <div class="panel-collapse">
                              <div class="wrapper-collapse">
                                <div class="info">
                                  <ul class="list">
                                    <li>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="blogg1 sec-bx cnt">
                      <div id="div4" class="wrapper targetDiv">
                        <h3>Legal</h3>
                        <div class="heading blog"><a href="#">Bound to ensue and equal blame</a></div>
                        <div class="blog-info">
                          <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail.</p>
                          <p>So blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will.</p>
                        </div><br>
                        <img src="{% static 'img/topbanner04.jpg' %}" alt="photo" class="img-responsive">
                        <div class="blog-info pt-5">
                          <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain<p>
                        </div>
                        <div class="accordion faq">
                          <div class="panel-wrap">
                            <div class="panel-title">
                              <span>What is Cloud Hosting?</span>
                              <div class="float-right">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                              </div>
                            </div>
                            <div class="panel-collapse">
                              <div class="wrapper-collapse">
                                <div class="info">
                                  <ul class="list">
                                    <li>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="panel-wrap">
                            <div class="panel-title">
                              <span>Does Shared Web Hosting include Email Hosting as well?</span>
                              <div class="float-right">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                              </div>
                            </div>
                            <div class="panel-collapse">
                              <div class="wrapper-collapse">
                                <div class="info">
                                  <ul class="list">
                                    <li>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="panel-wrap">
                            <div class="panel-title">
                              <span>Is an upgrade possible from my current Linux Shared Hosting Plan?</span>
                              <div class="float-right">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                              </div>
                            </div>
                            <div class="panel-collapse">
                              <div class="wrapper-collapse">
                                <div class="info">
                                  <ul class="list">
                                    <li>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="panel-wrap">
                            <div class="panel-title">
                              <span>Is there any money back guarantee with the Linux Web Hosting services?</span>
                              <div class="float-right">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                              </div>
                            </div>
                            <div class="panel-collapse">
                              <div class="wrapper-collapse">
                                <div class="info">
                                  <ul class="list">
                                    <li>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 
      *******************
      SMALL CONTACT FORM
      ******************* 
      -->
      <section class="small-contact sec-normal">
        <div class="container">
          <div class="sec-main sec-bg1">
            <div class="row">
              <div class="col-md-4">
                <h4 class="subtitle">Australia</h4>
                <p>HeadQuarters: No.02 - 399-0<br> Lorem Street City</p>
                <a class="golink text-dark" href="tel:+000111222333">+80 234 111 2233</a><br>
                <a class="golink text-dark" href="mailto:support@cloudy.com">support@cloudy.com</a>
              </div>
              <div class="col-md-4">
                <h4 class="subtitle">Portugal</h4>
                <p>Branch: No.22 - 129-0 <br>Lorem Street City</p>
                <a class="golink text-dark" href="tel:+000111222333">+351 234 111 233</a><br>
                <a class="golink text-dark" href="mailto:support@cloudy.com">info@cloudy.com</a>
              </div>
              <div class="col-md-4 social">
                <div onclick="openNav()" class="btn btn-default-green-fill">Contact us now</div>
                <p>Follow social networks</p>
                <a href="" target="_blank"><i class="icon-facebook"></i></a>
                <a href="" target="_blank"><i class="icon-linkedin"></i></a>
                <a href="" target="_blank"><i class="icon-pinterest"></i></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 
      ************************** 
      FULL OVERLAY CONTACT
      ************************** 
      -->
      <div id="myNav" class="fullrock bg-helpdesk overlay-full">
        <a onclick="closeNav()" class="closebtn">
          <img src="{% static 'fonts/svg/close.svg' %}" class="closer" alt="">
        </a>
        <div class="fullrock-content">
          <section class="pb-100">
            <div class="register contact-us">
              <div class="container">
                <img src="{% static 'img/logo-light.svg' %}" alt="logo" class="logo-footer">
                <div class="row sec-bx m-0 bg-opacity-green">
                  <div class="col-md-12 col-lg-4">
                    <div class="form-contact">
                      <i class="icon-helpdesk support"></i>
                      <h3 class="subtitle">We will help you to choose the best plan!</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                      <div class="info">
                        <a href="tel:+000111222333">+80 234 111 2233</a><br>
                        <a href="mailto:support@cloudy.com">support@cloudy.com</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-lg-8 sec-bg1">
                    <div class="form-contact">
                      <div class="subtitle">We will help you to choose the best plan!</div>
                      <form id="contactForm" class="comments-form">
                        <input id="name" type="text" name="name" placeholder="Name" class="input" required>
                        <div class="row">
                          <div class="col-md-12 col-lg-6">
                            <input id="email" type="email" name="email" placeholder="E-mail" class="input" required>
                          </div>
                          <div class="col-md-12 col-lg-6">
                            <input id="phone" type="number" name="phone" placeholder="Number" class="input" required>
                          </div>
                        </div>
                        <textarea id="message" rows="4" name="comment" class="input comment" placeholder="Comment..."></textarea>
                        <div class="text-right text-xs-center">
                          <input id="form-submit" type="submit" class="btn btn-default-green-fill float-left" value="Submit">
                        </div>
                        <div id="msgSubmit" class="h4 text-right hidden"></div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
{% endblock  %}