{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock  %}
{% block body %}

<div class="menu-wrap mobile">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <a href="index.html"><img src="{% static 'img/logo.svg' %}" alt="logo" class="logo-menu"></a>
        </div>
        <div class="col-6">
          <nav class="nav-menu">
            <button id="nav-toggle" class="menu-toggle">
            <span class="icon"></span>
            <span class="icon"></span>
            <span class="icon"></span>
            </button>
            <ul class="main-menu">
              <li class="mb-3">
                <a href="tel:+0000000000"><small class="c-grey">Phone: + (123) 1300-656-1046</small></a> <br>
                <a class="mb-3" href="mailto:cloudy@mail.com"><small class="c-grey">Email: cloudy@mail.com</small></a>
              </li>
              <li class="menu-item menu-item-has-children">
                <a class="active">Home</a>
                <ul class="sub-menu">
                  <li class="menu-item"><a href="index.html">Home Page v01</a></li>
                  <li class="menu-item"><a href="homepage-2.html" class="active">Home Page v02</a></li>
                  <li class="menu-item"><a href="homepage-3.html">Home Page v03</a></li>
                  <li class="menu-item"><a href="homepage-4.html">Home Page v04</a></li>
                </ul>
              </li>
              <li class="menu-item menu-item-has-children">
                <a>Services <div class="badge bg-green">PRO</div></a> 
                <ul class="sub-menu">
                  <li class="menu-item"><a href="hosting.html">Cloud Hosting</a></li>
                  <li class="menu-item"><a href="reseller.html">Cloud Reseller</a></li>
                  <li class="menu-item"><a href="dedicated.html">Dedicated Server</a></li>
                  <li class="menu-item"><a href="vps.html">Cloud VPS</a></li>
                  <li class="menu-item"><a href="wordpress.html">WordPress</a></li>
                  <li class="menu-item"><a href="domains.html">Domain Names</a></li>
                  <li class="menu-item"><a href="ssl.html">Certificates SSL</a></li>
                </ul>
              </li>
              <li class="menu-item menu-item-has-children">
                <a>Pages</a>
                <ul class="sub-menu">
                  <li class="menu-item"><a href="countdown.html">Coming Soon</a></li>
                  <li class="menu-item"><a href="about.html"> About Us</a></li>
                  <li class="menu-item"><a href="team.html">Our Team</a></li>
                  <li class="menu-item"><a href="404.html">404 Error</a></li>
                  <li class="menu-item"><a href="signup.html">Register</a></li>
                  <li class="menu-item"><a href="login.html">Client Area</a></li>
                </ul>
              </li>
              <li class="menu-item menu-item-has-children">
                <a>E-Shop</a>
                <ul class="sub-menu">
                  <li class="menu-item"><a href="shop.html">e-Shop Products</a></li>
                  <li class="menu-item"><a href="shop-2.html">e-Shop Side Bar <div class="menu badge bg-green">NEW</div></a> </li>
                  <li class="menu-item"><a href="shop-3.html">e-Shop Product Details</a></li>
                  <li class="menu-item"><a href="cart.html">Cart</a></li>
                  <li class="menu-item"><a href="checkout.html">Checkout</a></li>
                </ul>
              </li>
              <li class="menu-item menu-item-has-children">
                <a>Blog</a>
                <ul class="sub-menu">
                  <li class="menu-item"><a href="blog-1.html">Blog One Column</a></li>
                  <li class="menu-item"><a href="blog-2.html">Blog Two Columns</a></li>
                  <li class="menu-item"><a href="blog-details.html">Blog Details</a></li>
                </ul>
              </li>
              <li class="menu-item menu-item-has-children">
                <a>Features</a>
                <ul class="sub-menu">
                  <li class="menu-item"><a href="elements.html">Elements</a></li>
                  <li class="menu-item"><a href="pricing-tables.html">Pricing Tables</a></li>
                </ul>
              </li>
              <li class="menu-item menu-item-has-children menu-last">
                <a>Support</a>
                <ul class="sub-menu">
                  <li class="menu-item"><a href="knowlegebase.html">Knowlege Base</a></li>
                  <li class="menu-item"><a href="contact.html">Contact Us</a></li>
                  <li class="menu-item"><a href="help.html">Help</a></li>
                  <li class="menu-item"><a href="faq.html">Faq</a></li>
                </ul>
              </li>
              <li>
                <a href="login.html"><div class="btn btn-default-green-fill mt-3">CLIENT AREA</div></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- 
  *******************
  SLIDER  
  *******************
  -->
  <div id="owl-demo" class="owl-carousel">
    <div class="full item1 h-100">
      <div class="vc-parent">
        <div class="vc-child">
          <div class="top-banner top-classic">
            <div class="container">
              <div class="box-container">
                <h1 class="heading">Perfect Domain Name</h1>
                <h3 class="subheading">Choose from hundreds of extensions and put your website in the world.</h3>
                <form action="http://inebur.com/whmcs/domainchecker.php?systpl=cloudy" method="post">
                  <div class="general-input">
                    <input type="text" name="domain" placeholder="Start your search here" class="fill-input">
                    <input type="submit" value="Search" class="btn btn-default">
                  </div>
                </form>
                <div class="domain-prices">
                  <ul>
                    <li>.com <div class="price"><sup>$</sup>8.00</div></li>
                    <li>.net <div class="price"><sup>$</sup>8.50</div></li>
                    <li>.org <div class="price"><sup>$</sup>12.00</div></li>
                    <li>.us <div class="price"><sup>$</sup>6.00</div></li>
                    <li>.biz <div class="price"><sup>$</sup>9.00</div></li>
                    <li>.me <div class="price"><sup>$</sup>7.98</div></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 
  *******************
  DOMAIN TABLE
  *******************
  -->
  <section class="sec-normal sec-bg1">
    <div class="best-plans pricing classic">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="section-heading">Your Domain Reselling Business</h2><br>
            <div class="btn-group-toggle" data-toggle="buttons">
              <label class="btn p-3 border-0 active">
                <input type="radio" name="options" id="option1" checked=""> All Domains
              </label>
              <label class="btn p-3 border-0">
                <input type="radio" name="options" id="option2"> ccTLD
              </label>
              <label class="btn p-3 border-0">
                <input type="radio" name="options" id="option3"> gTLD
              </label>
              <label class="btn p-3 border-0">
                <input type="radio" name="options" id="option4"> ngTLD
              </label>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="table-responsive-lg">
              <table class="table compare mt-5">
                <thead>
                  <tr>
                    <td class="bb-green title">Popular Extensions</td>
                    <td class="bb-green title">Pack I</td>
                    <td class="bb-green title">Pack II</td>
                    <td class="bb-green title">Pack III</td>
                    <td class="bb-green title">Availability</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><div class="badge bg-green mr-1">PROMO</div> .com</td>
                    <td>$9.99</td>
                    <td>$14.99</td>
                    <td><span class="ltgh">$19.00</span>  <b class="c-green">$15.00</b></td>
                    <td><a href="" class="btn btn-default-green-fill">Register</a></td>
                  </tr>
                  <tr>
                    <td><div class="badge bg-green mr-1">NEW</div> .net</td>
                    <td>$12.23</td>
                    <td>$18.00</td>
                    <td>$21.00</td>
                    <td><a href="" class="btn btn-default-green-fill">Register</a></td>
                  </tr>
                  <tr>
                    <td><div class="badge bg-green mr-1">SALE</div> .info</td>
                    <td>$7.00</td>
                    <td>$12.00</td>
                    <td><i class="fas fa-times"></i></td>
                    <td><a href="" class="btn btn-default-green-fill">Register</a></td>
                  </tr>
                  <tr>
                    <td class="border-0">.Me</td>
                    <td class="border-0">$22.20</td>
                    <td class="border-0"><i class="fas fa-times"></i></td>
                    <td class="border-0"><i class="fas fa-times"></i></td>
                    <td class="border-0"><a href="" class="btn btn-default-green-fill">Register</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- 
  *******************
  PRICING TABLES  
  ******************* 
  -->
  <section class="sec-normal overlay bg-email">
    <div class="pricing classic tablepage">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 text-center">
            <h2 class="section-heading text-white">Business email hosting solutions</h2>
            <p class="section-subheading text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="wrapper first">
              <div class="title">Business Email</div>
              <div class="period">apple</div>
              <div class="price"><sup>$</sup>3.99 <span class="period">/mo</span></div>
              <ul class="list-info">
                <li>12GB space per account</li>
                <li>Intuitive Address Book</li>
                <li>Mobile Sync</li>
                <li>Auto-responders</li>
                <li>Advanced Calendar</li>
              </ul>
              <a href="" class="btn btn-default-green-fill">Get Features</a>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="wrapper active">
              <div class="title">Enterprise Email</div>
              <div class="period">windows</div>
              <div class="price"><sup>$</sup>8.00 <span class="period">/mo</span></div>
              <ul class="list-info">
                <li>35GB Mailboxspace</li>
                <li>Intuitive Calendar</li>
                <li>Sync all devices</li>
                <li>Flock Instant messenger</li>
                <li>Email forwarding</li>
              </ul>
              <a href="" class="btn btn-default">Get Features</a>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="wrapper third">
              <div class="plans badge feat bg-green">by Google</div>
              <div class="title">G Suite Email</div>
              <div class="period">windows</div>
              <div class="price"><sup>$</sup>12.90 <span class="period">/mo</span></div>
              <ul class="list-info">
                <li>Professional email</li>
                <li>30GB cloud storage </li>
                <li>Real-time collaboration</li>
                <li>Enhanced security</li>
                <li>Outlook Email Client</li>
              </ul>
              <a href="" class="btn btn-default-green-fill">Get Features</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- 
  *******************
  STATISTICS
  ******************* 
  -->
  <section class="circle-section sec-normal sec-bg1">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2 class="section-heading">Our Statistics</h2>
          <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="skill-section">
            <div class="circle-wrapper">
              <div class="circle-entry clearfix">
                <div class="circle center-block color-dark-2" data-startdegree="0" data-dimension="180" data-text="<strong class='number'>4.322</strong><div class='title-round'>Clients</div>" data-width="5" data-fontsize="17" data-percent="90" data-fgcolor="#69c399" data-bgcolor="transparent" data-bordersize="3"> </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="skill-section">
            <div class="circle-wrapper">
              <div class="circle-entry clearfix">
                <div class="circle center-block color-dark-2" data-startdegree="0" data-dimension="180" data-text="<strong class='number'>1.510</strong><div class='title-round'>Equipment</div>" data-width="5" data-fontsize="17" data-percent="65" data-fgcolor="#69c399" data-bgcolor="transparent" data-bordersize="3"></div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="skill-section">
            <div class="circle-wrapper">
              <div class="circle-entry clearfix">
                <div class="circle center-block color-dark-2" data-startdegree="0" data-dimension="180" data-text="<strong class='number'>311</strong><div class='title-round'>Projects</div>" data-width="5" data-fontsize="17" data-percent="30" data-fgcolor="#69c399" data-bgcolor="transparent" data-bordersize="3"></div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="skill-section">
            <div class="circle-wrapper">
              <div class="circle-entry clearfix">
                <div class="circle center-block color-dark-2" data-startdegree="0" data-dimension="180" data-text="<strong class='number'>22</strong><div class='title-round'>Experience</div>" data-width="5" data-fontsize="17" data-percent="15" data-fgcolor="#69c399" data-bgcolor="transparent" data-bordersize="3"></div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- 
  *******************
  PARTNERS 
  *******************
  -->
  <section class="sec-normal ">
    <div class="cicrle-section">
      <div class="container">
        <div class="sec-main sec-bg1 sec-grad1">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h2 class="section-heading">Partners Cloudy 7</h2>
              <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
            <div class="col-6 col-sm-6 col-md-3 pt-5">
              <img src="{% static 'img/svg/partners/wordpress.svg' %}" alt="wordpress">
            </div>
            <div class="col-6 col-sm-6 col-md-3 pt-5">
              <img src="{% static 'img/svg/partners/joomla.svg' %}" alt="joomla">
            </div>
            <div class="col-6 col-sm-6 col-md-3 pt-5">
              <img src="{% static 'img/svg/partners/magento.svg' %}" alt="magento">
            </div>
            <div class="col-6 col-sm-6 col-md-3 pt-5">
              <img src="{% static 'img/svg/partners/drupal.svg' %}" alt="drupal">
            </div>
          </div>
        </div>  
      </div>
    </div>
  </section>
  <!-- 
  *******************
  GET READY TAB
  ******************* 
  -->
  <section class="getready">
    <div class="container">
      <div class="content sec-bg4">
        <div class="row">
          <div class="col-lg-7">
            <div class="column-support-txt">
              <div class="column-support-title">Ready to start?</div> 
              <div class="column-support-subtitle">Try our free High Performance Servers for 12 day trial!</div>
            </div>
          </div> 
          <div class="col-lg-5">
            <div class="general-input">
              <input type="email" name="email" placeholder="Enter your email address" class="fill-input">
              <input type="submit" value="Get Started" class="btn btn-default">
            </div>
          </div>
        </div>
      </div>  
    </div>
  </section>

{% endblock  %}