{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock  %}


{% block nav_menu %}{% endblock  %}
{% block NAV_MENU_MOBILE %}{% endblock  %}

{% block body %}
    <!-- 
    *******************
    FULL LOGIN PAGE
    ******************* 
    -->
    <div class="fullrock item5 overlay-full">
        <a onclick="window.history.go(-1); return false;" class="closebtn">
          <img src="fonts/svg/close.svg" class="closer" alt="">
        </a>
        <div class="fullrock-content">
          <section class="pb-100">
            <div class="register contact-us">
              <div class="container">
                <img src="img/logo-light.svg" alt="logo" class="logo-footer">
                <div class="row sec-bx bg-opacity-green">
                  <div class="col-md-12 col-lg-4">
                    <div class="form-contact">
                      <i class="icon-center"></i>
                      <h3 class="subtitle">Restricted Access myCloudy area!</h3>
                      <p>Welcome back. You are a returning customer please login.</p>
                      <div class="info">
                        <a href="tel:+000111222333">+80 234 111 2233</a><br>
                        <a href="mailto:support@cloudy.com">support@cloudy.com</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-lg-8 sec-bg1">
                    <div class="form-contact">
                      <div class="subtitle">Existing Customer Login</div>
                      <form action="http://inebur.com/whmcs/dologin.php?goto=clientarea.php/?systpl=cloudy" method="post" class="comments-form">
                        <input type="email" name="username" placeholder="Primary Email" class="input" required>
                        <input type="password" name="password" placeholder="Password" class="input" required>
                        <div class="pb-3">
                          <a href="" class="link">Forgot my password</a>
                          <label class="label-form"><input type="checkbox" class="btn-check"> Remember me</label>
                        </div>
                        <input type="submit" class="btn btn-default-green-fill" value="Login">
                        <div id="msgSubmit" class="h4 text-right hidden"></div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
{% endblock  %}


{% block footer %}{% endblock  %}