{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock  %}
{% block body %}
    <!-- 
    *******************
    BANNER
    ******************* 
    -->
    <div class="top-header overlay item4">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="wrapper">
                <div class="heading">SSL Certificates</div>
                <div class="subheading">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 
      *******************
      PRICING TABLES   
      ******************* 
      -->
      <section class="sec-up">
        <div class="best-plans pricing classic">
          <div class="container">
            <div class="sec-main sec-bg1">
              <div class="row">
                <div class="col-sm-12">
                  <div class="table-responsive-lg">
                    <table class="table">
                      <thead>
                        <tr>
                          <td></td>
                          <td>
                            <div class="title">Positive SSL</div>
                            <div class="price"><sup>$</sup>1.66<span class="period">/mo</span></div>
                            <div class="info">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</div>
                            <a href="" class="btn btn-default-green-fill">Buy Now</a><br>
                          </td>
                          <td>
                            <div class="title">Wildcard SSL</div>
                            <div class="price"><sup>$</sup>3.90<span class="period">/mo</span></div>
                            <div class="info">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</div>
                            <a href="" class="btn btn-default-green-fill">Buy Now</a>
                          </td>
                          <td>
                            <div class="title">EV SSL</div>
                            <div class="price"><sup>$</sup>7.89<span class="period">/mo</span></div>
                            <div class="info">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</div>
                            <a href="" class="btn btn-default-green-fill">Buy Now</a>
                          </td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <div class="title-table" data-toggle="tooltip" data-placement="top" title="" data-original-title="I must explain to you">Domain Validation
                            </div>
                          </td>
                          <td><i class="fas fa-check"></i></td>
                          <td><i class="fas fa-check"></i></td>
                          <td><i class="fas fa-check"></i></td>
                        </tr>
                        <tr>
                          <td>
                            <div id="element" class="title-table" data-toggle="tooltip" data-placement="top" title="" data-original-title="I must explain to you">Trust Logo Supported
                            </div>
                          </td>
                          <td><i class="fas fa-times"></i></td>
                          <td><i class="fas fa-check"></i></td>
                          <td><i class="fas fa-check"></i></td>
                        </tr>
                        <tr>
                          <td class="title-table">Sub-domains</td>
                          <td>3 Sub-domain</td>
                          <td>6 Sub-domain</td>
                          <td>Unlimited</td>
                        </tr>
                        <tr>
                          <td class="title-table">Issued</td>
                          <td>2 Days</td>
                          <td>2 Day</td>
                          <td>6 Day</td>
                        </tr>
                        <tr>
                          <td class="title-table">Reissuance</td>
                          <td>Free</td>
                          <td>Free</td>
                          <td>Free</td>
                        </tr>
                        <tr>
                          <td class="title-table">Warranty</td>
                          <td>$60,000</td>
                          <td>$450,000</td>
                          <td>$1,230,000</td>
                        </tr>
                        <tr>
                          <td class="title-table">Encryption</td>
                          <td>128/256 bit</td>
                          <td>128/256 bit</td>
                          <td>128/256 bit</td>
                        </tr>
                        <tr>
                          <td class="border-0"></td>
                          <td><a href="" class="btn btn-default-green-fill">Buy Now</a></td>
                          <td><a href="" class="btn btn-default-green-fill">Buy Now</a></td>
                          <td><a href="" class="btn btn-default-green-fill">Buy Now</a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 
      *******************
      WHY CHOOSE CLOUDY
      ******************* 
      -->
      <section class="services classic sec-normal mt-150 overlay item4">
        <div class="container">
          <div class="service-wrap">
            <div class="row">
              <div class="col-sm-12 text-center">
                <h2 class="section-heading text-white">Why choose SSL Certificates</h2>
                <p class="section-subheading text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="service-section">
                  <div class="title">Strongest Encryption</div>
                  <p class="subtitle">
                    Excepteur sint occaecat cupidatat non proident dolor 
                  </p>
                  <a href="" class="btn btn-default-green">Read more</a>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="service-section">
                  <div class="title">Address bar Visibility</div>
                  <p class="subtitle">
                    Duis aute irure dolor in reprehenderit in voluptate velit  
                  </p>
                  <a href="" class="btn btn-default-green">Read more</a>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="service-section">
                  <div class="plans badge feat bg-green">Website security</div> 
                  <div class="title">Guaranteed Security</div>
                  <p class="subtitle">
                    Excepteur sint occaecat cupidatat non proident voluptate
                  </p>
                  <a href="" class="btn btn-default-green">Read more</a>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="service-section">
                  <div class="plans badge feat bg-grey">Visible badge</div> 
                  <div class="title">TrustLogo Site Seal</div>
                  <p class="subtitle">
                    Excepteur sint occaecat cupidatat non proident dolor 
                  </p>
                  <a href="" class="btn btn-default-green">Read more</a>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="service-section">
                  <div class="title">Extended Validation</div>
                  <p class="subtitle">
                    Duis aute irure dolor in reprehenderit in voluptate velit  
                  </p>
                  <a href="" class="btn btn-default-green">Read more</a>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="service-section">
                  <div class="title">Improved SEO</div>
                  <p class="subtitle">
                    Excepteur sint occaecat cupidatat non proident voluptate
                  </p>
                  <a href="" class="btn btn-default-green">Read more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 
      *******************
      FEATURES  
      ******************* 
      -->
      <section class="sec-normal sec-bg1">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="section-offer img-bg services">
                <div class="row">
                  <div class="col-sm-12 text-center">
                    <h2 class="section-heading">SSL Certificate Features</h2>
                    <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                  </div>
                </div>
                <div class="tabs offers-tabs">
                  <div class="tabs-header mb-5">
                    <ul>
                      <li class="active"><i class="icon-zoom"></i>  <div>Improve Search</div></li>
                      <li class=""> <i class="icon-cloudsecurity"></i> <div>Ultimate Security</div></li>
                      <li class=""><i class="icon-financial"></i> <div>Improve Sales</div></li>
                      <li class=""><i class="icon-support"></i> <div>Great Support</div></li>
                    </ul>
                  </div>
                  <div class="tabs-content text-left">
                    <div class="tabs-item active">
                      <div class="row">
                        <div class="col-md-6 col-lg-5">
                          <img src="img/ssl02.jpg" alt="offers" class="img-responsive w-100">
                        </div>
                        <div class="col-md-6 col-lg-7">
                          <div class="heading">
                            Improve Search
                          </div>
                          <div class="info">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          </div>
                          <a href="" class="btn btn-default-green">More info</a>  
                        </div>
                      </div>
                    </div>
                    <div class="tabs-item">
                      <div class="row">
                        <div class="col-md-6 col-lg-5">
                          <img src="img/ssl01.jpg" alt="offers" class="img-responsive w-100">
                        </div>
                        <div class="col-md-6 col-lg-7">
                          <div class="heading">
                            Ultimate Security
                          </div>
                          <div class="info">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          </div>
                          <a href="" class="btn btn-default-green">More info</a>  
                        </div>
                      </div>
                    </div>
                    <div class="tabs-item">
                      <div class="row">
                        <div class="col-md-6 col-lg-5">
                          <img src="img/ssl03.jpg" alt="offers" class="img-responsive w-100">
                        </div>
                        <div class="col-md-6 col-lg-7">
                          <div class="heading">
                            Improve Sales
                          </div>
                          <div class="info">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          </div>
                          <a href="" class="btn btn-default-green">More info</a>  
                        </div>
                      </div>
                    </div>
                    <div class="tabs-item">
                      <div class="row">
                        <div class="col-md-6 col-lg-5">
                          <img src="img/ssl04.jpg" alt="offers" class="img-responsive w-100">
                        </div>
                        <div class="col-md-6 col-lg-7">
                          <div class="heading">
                            Great Support
                          </div>
                          <div class="info">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          </div>
                          <a href="" class="btn btn-default-green">More info</a>  
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </section>
      <!-- 
      *******************
      CONTACT FORM   
      ******************* 
      -->
      <section class="sec-normal">
        <div class="register contact-us">
          <div class="container">
            <div class="row b-solid m-0">
              <div class="col-md-12 col-lg-4 sec-bg4">
                <div class="form-contact">
                  <i class="icon-helpdesk support"></i>
                  <h3 class="subtitle">We will help you to choose the best plan!</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                  <div class="info">
                    <a href="tel:+000111222333">+80 234 111 2233</a><br>
                    <a href="mailto:support@cloudy.com">support@cloudy.com</a>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-lg-8 sec-bg1">
                <div class="form-contact">
                  <div class="subtitle">We will help you to choose the best plan!</div>
                  <form id="contactForm" method="POST" class="comments-form">
                    <input id="name" type="text" name="name" placeholder="Name" class="input" required="">
                    <div class="row">
                      <div class="col-md-12 col-lg-6">
                        <input id="email" type="email" name="email" placeholder="E-mail" class="input" required="">
                      </div>
                      <div class="col-md-12 col-lg-6">
                        <input id="phone" type="number" name="phone" placeholder="Phone" class="input" required="">
                      </div>
                    </div>
                    <textarea id="message" rows="4" name="message" class="input comment" placeholder="Comment..."></textarea>
                    <div class="text-right text-xs-center">
                      <input type="submit" class="btn btn-default-green-fill float-left button" value="submit">
                    </div>
                    <h5 id="msgSubmit" class="text-right text-success"> Message Submitted!</h5>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

{% endblock  %}