{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock  %}
{% block body %}
<!-- 
    *******************
    BANNER
    ******************* 
    -->
    <div class="top-header overlay bg-wordpress">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-5 col-lg-4">
              <div class="wrapper">
                <div class="heading">WordPress</div>
                <div class="subheading">
                  <a href="index.html" class="link">home</a> <i class="fas fa-star"></i>
                  <a href="#" class="link">pages</a> <i class="fas fa-star"></i>
                  <a href="services.html" class="link active">wordpress</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-7 col-lg-8">
              <div class="specs float-right">
                <div class="">
                  <img src="fonts/svg/wordpress.svg" height="42" alt="">
                  <p>Pre-Intalled</p>
                </div>
                <div class="">
                  <img src="fonts/svg/reload.svg" height="42" alt="">
                  <p>Auto Updates</p>
                </div>
                <div class="">
                  <img src="fonts/svg/upgrade.svg" height="42" alt="">
                  <p>Easy Scability</p>
                </div>
                <div class="">
                  <img src="fonts/svg/code.svg" height="42" alt="">
                  <p>Developer Tools</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 
      *******************
      PRICING TABLES   
      ******************* 
      -->
      <section class="sec-up">
        <div class="best-plans pricing classic">
          <div class="container">
            <div class="sec-main sec-bg1">
              <div class="row">
                <div class="col-sm-12">
                  <div class="table-responsive-lg">
                    <table class="table">
                      <thead>
                        <tr>
                          <td></td>
                          <td>
                            <div class="title">Standard</div>
                            <div class="price"><sup>$</sup>8.66<span class="period">/mo</span></div>
                            <div class="plans badge bg-grey">Renews $8.66 /mo</div>
                            <div class="info">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</div>
                            <a href="" class="btn btn-default-green-fill">Buy Now</a><br>
                          </td>
                          <td>
                            <div class="title">Professional</div>
                            <div class="price"><sup>$</sup>12.90<span class="period">/mo</span></div>
                            <div class="plans badge bg-grey">Renews $16.90 /mo</div>
                            <div class="info">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</div>
                            <a href="" class="btn btn-default-green-fill">Buy Now</a>
                          </td>
                          <td>
                            <div class="title">Elite</div>
                            <div class="price"><sup>$</sup>19.00<span class="period">/mo</span></div>
                            <div class="plans badge bg-grey">Renews $26.02 /mo</div>
                            <div class="info">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</div>
                            <a href="" class="btn btn-default-green-fill">Buy Now</a>
                          </td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <div class="title-table" data-toggle="tooltip" data-placement="top" title="" data-original-title="I must explain to you">Websites
                            </div>
                          </td>
                          <td>2 Websites</td>
                          <td>4 Websites</td>
                          <td>8 Websites</td>
                        </tr>
                        <tr>
                          <td>
                            <div id="element" class="title-table" data-toggle="tooltip" data-placement="top" title="" data-original-title="I must explain to you">Storage
                            </div>
                          </td>
                          <td>40GB SSD</td>
                          <td>60GB SSD</td>
                          <td>120GB SSD</td>
                        </tr>
                        <tr>
                          <td class="title-table">RAM</td>
                          <td>12GB</td>
                          <td>32GB</td>
                          <td>64GB</td>
                        </tr>
                        <tr>
                          <td class="title-table">Cores</td>
                          <td>4</td>
                          <td>8</td>
                          <td>16</td>
                        </tr>
                        <tr>
                          <td class="title-table">Git Support</td>
                          <td><i class="fas fa-check"></i></td>
                          <td><i class="fas fa-check"></i></td>
                          <td><i class="fas fa-check"></i></td>
                        </tr>
                        <tr>
                          <td class="title-table">Accounts</td>
                          <td>Unlimited</td>
                          <td>Unlimited</td>
                          <td>Unlimited</td>
                        </tr>
                        <tr>
                          <td class="title-table">Backups</td>
                          <td>4GB</td>
                          <td>16GB</td>
                          <td>32GB</td>
                        </tr>
                        <tr>
                          <td class="title-table">Updates</td>
                          <td>Automatic</td>
                          <td>Automatic</td>
                          <td>Automatic</td>
                        </tr>
                        <tr>
                          <td class="border-0"></td>
                          <td><a href="" class="btn btn-default-green-fill">Buy Now</a></td>
                          <td><a href="" class="btn btn-default-green-fill">Buy Now</a></td>
                          <td><a href="" class="btn btn-default-green-fill">Buy Now</a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 
      *******************
      WHY CHOOSE CLOUDY 
      ******************* 
      -->
      <section class="services classic sec-normal mt-150 overlay bg-wordpress">
        <div class="container">
          <div class="service-wrap">
            <div class="row">
              <div class="col-sm-12 text-center">
                <h2 class="section-heading text-white">Why choose WordPress Hosting</h2>
                <p class="section-subheading text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="service-section">
                  <i class="icon-window"></i>
                  <div class="title">Free cPanel</div>
                  <p class="subtitle">
                    Excepteur sint occaecat cupidatat non proident dolor 
                  </p>
                  <a href="" class="btn btn-default-green">Read more</a>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="service-section">
                  <i class="icon-helpdesk"></i>
                  <div class="title">24x7x365 Support</div>
                  <p class="subtitle">
                    Duis aute irure dolor in reprehenderit in voluptate velit  
                  </p>
                  <a href="" class="btn btn-default-green">Read more</a>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="service-section">
                  <div class="plans badge feat bg-green">Softaculous</div> 
                  <i class="icon-add"></i>
                  <div class="title">Easy 1-click-installer</div>
                  <p class="subtitle">
                    Excepteur sint occaecat cupidatat non proident voluptate
                  </p>
                  <a href="" class="btn btn-default-green">Read more</a>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="service-section">
                  <div class="plans badge feat bg-grey">Site Builder</div> 
                  <i class="icon-flash"></i>
                  <div class="title">Fast Websites</div>
                  <p class="subtitle">
                    Excepteur sint occaecat cupidatat non proident dolor 
                  </p>
                  <a href="" class="btn btn-default-green">Read more</a>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="service-section">
                  <i class="icon-switch"></i>
                  <div class="title">Easy Installation SSL</div>
                  <p class="subtitle">
                    Duis aute irure dolor in reprehenderit in voluptate velit  
                  </p>
                  <a href="" class="btn btn-default-green">Read more</a>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="service-section">
                  <i class="icon-inverse"></i>
                  <div class="title">Website Migrations</div>
                  <p class="subtitle">
                    Excepteur sint occaecat cupidatat non proident voluptate
                  </p>
                  <a href="" class="btn btn-default-green">Read more</a>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </section>
      <!-- 
      *******************
      SPECIFICATIONS 
      ******************* 
      -->
      <section>
        <div class="best-plans pricing classic sec-normal sec-bg1">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h2 class="section-heading">WordPress Hosting Technical Specifications</h2>
                <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div>
              <div class="col-sm-12">
                <div class="table-responsive-lg">
                  <table class="table sample mt-5">
                    <thead>
                      <tr>
                        <td>
                          <span class="title">Software </span> <span class="badge bg-green">CORE</span>
                        </td>
                        <td>
                          <div class="title">Databases</div>
                        </td>
                        <td>
                          <div class="title">Software</div>
                        </td>
                        <td>
                          <div class="title">Security</div>
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div class="title-table" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">PHP 5.5/5.6/7.0/7.1
                          </div>
                        </td>
                        <td>MySQL 5.6</td>
                        <td>Zend Engine</td>
                        <td>Password protected folders</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="title-table" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Perl
                          </div>
                        </td>
                        <td>phpMyAdmin 4.6.6</td>
                        <td>Zend Optimizer</td>
                        <td>Hotlink Protection</td>
                      </tr>
                      <tr>
                        <td class="title-table">Python 2.6.6</td>
                        <td>FTPES Supported</td>
                        <td>Zend Guard Loader</td>
                        <td>Leech Protection</td>
                      </tr>
                      <tr>
                        <td class="title-table">PostgreSQL</td>
                        <td>MSSQL Stored Procedures</td>
                        <td>ionCube Loader </td>
                        <td>Clam AV Antivirus</td>
                      </tr>
                      <tr>
                        <td class="border-0"><a href="" class="btn btn-default-green">All Specs</a></td>
                        <td class="border-0"><a href="" class="btn btn-default-green">All Specs</a></td>
                        <td class="border-0"><a href="" class="btn btn-default-green">All Specs</a></td>
                        <td class="border-0"><a href="" class="btn btn-default-green">All Specs</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 
      *******************
      TEAM
      *******************
      -->
      <section class="sec-normal">
        <div class="team">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-12 text-center">
                <h2 class="section-heading">Did not find what you looking for? Contact below</h2>
                <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="wrapper">
                  <div class="img-section">
                    <img src="img/team01.jpg" alt="team" class="img-responsive">
                    <div class="soc-icons-wrap">
                      <div class="icons">
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-google-plus-g"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a> 
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="team-info">
                    <h3 class="heading">John T. Erikson</h3>
                    <div class="subheading">CTO - Full Stack</div>
                    <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="wrapper">
                  <div class="img-section">
                    <img src="img/team02.jpg" alt="team" class="img-responsive">
                    <div class="soc-icons-wrap">
                      <div class="icons">
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-google-plus-g"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a> 
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="team-info">
                    <h3 class="heading">Walter T. Adams</h3>
                    <div class="subheading">Font-End Developer</div>
                    <div class="desc">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="wrapper">
                  <div class="img-section">
                    <img src="img/team03.jpg" alt="team" class="img-responsive">
                    <div class="soc-icons-wrap">
                      <div class="icons">
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-google-plus-g"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a> 
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="team-info">
                    <h3 class="heading">Verna B. Ahmed</h3>
                    <div class="subheading">Senior Marketing</div>
                    <div class="desc">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 
      *******************
      CONTACT FORM   
      ******************* 
      -->
      <section class="sec-normal sec-bg1">
        <div class="register contact-us">
          <div class="container">
            <div class="row b-solid m-0">
              <div class="col-md-12 col-lg-4 sec-bg4">
                <div class="form-contact">
                  <i class="icon-helpdesk support"></i>
                  <h3 class="subtitle">We will help you to choose the best plan!</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                  <div class="info">
                    <a href="tel:+000111222333">+80 234 111 2233</a><br>
                    <a href="mailto:support@cloudy.com">support@cloudy.com</a>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-lg-8 sec-bg1">
                <div class="form-contact">
                  <div class="subtitle">We will help you to choose the best plan!</div>
                  <form id="contactForm" method="POST" class="comments-form">
                    <input id="name" type="text" name="name" placeholder="Name" class="input" required="">
                    <div class="row">
                      <div class="col-md-12 col-lg-6">
                        <input id="email" type="email" name="email" placeholder="E-mail" class="input" required="">
                      </div>
                      <div class="col-md-12 col-lg-6">
                        <input id="phone" type="number" name="phone" placeholder="Phone" class="input" required="">
                      </div>
                    </div>
                    <textarea id="message" rows="4" name="message" class="input comment" placeholder="Comment..."></textarea>
                    <div class="text-right text-xs-center">
                      <input type="submit" class="btn btn-default-green-fill float-left button" value="submit">
                    </div>
                    <h5 id="msgSubmit" class="text-right text-success"> Message Submitted!</h5>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}